@charset "utf-8";

/* 사업연혁 */
.gtp_raunching {
  padding: 10px 0 0;
}

.gtp_raunching .inner_box {
  position: relative;
  margin-top: 20px;
  padding: 40px 0;
  border: 1px solid #d8d8d8;
}

.gtp_raunching .inner_box .thumb {
  position: absolute;
  left: 40px; top: 50%;
  width: 96px; height: 96px;
  margin-top: -48px;
}

.gtp_raunching .txt,
.gtp_raunching dl {
  padding-left: 176px;
}

.gtp_raunching .txt {
  font-size: 16px;
  font-weight: 500;
}

.gtp_raunching dl {
  margin-top: 15px;
  color: #666;
}

.gtp_raunching dt {
  font-weight: 500;
  padding-bottom: 7px;
}

.gtp_raunching dd {
  position: relative;
  padding-left: 6px;
  line-height: 1.9;
}

.gtp_raunching dd::before {
  content: "";
  width: 2px; height: 2px;
  background: #666;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 0;
}

@media screen and (max-width: 768px) {

  .gtp_raunching .inner_box {
    width: 100%;
    height: inherit;
  }

  .gtp_raunching .inner_box .thumb {
    position: absolute;
    left: 50%; top: 40px;
    margin-top: 0;
    margin-left: -48px;
  }
  
  .gtp_raunching .txt,
  .gtp_raunching dl {
    padding-left: 30px;
    padding-right: 30px;
  }

  .gtp_raunching .txt {
    padding-top: 136px;
  }
}


.history {margin-top:58px;}
.history > ul > li {float:left;padding-left:21px;font-size: 0;}
.history > ul {margin-left:-21px;}
.history li .inner_box {border:1px solid #d8d8d8;width:306px;margin-bottom:25px; color: #666666;}
.history h4 {font-size: 16px; font-weight: 500; color: #222222;line-height:1.7;padding:30px 20px 0;}
.history h5 {font-size: 14px;font-weight: 500; margin-top:15px;padding:0 20px;}
.history ul li ul {margin-top:5px;padding:0 20px;font-size: 0;}
.history ul li ul li {font-size: 14px; font-size: 14px;font-weight: 400; position: relative; padding-left:6px;}
.history ul li ul li:before {width: 2px; height: 2px; background-color: #666666;content: "";display: inline-block; position: absolute; top: 10px; left: 0;}
.history ul li ul .txt_green:before {background-color: #36ae53;}
.history .photo_box {margin-top:35px;border-top:1px solid #d8d8d8;}
.history .photo_box span {width:50%;float:left;display:block;}
.history .photo_box span img {width:100%;}

@media screen and (max-width: 768px) {
  .history > ul {
    margin-left: 0;
  }

  .history > ul > li {
    padding-left: 0;
  }

  .history li .inner_box {
    width: 100%;
  }
}

/* 서비스 faq */
.service_faq {
  margin-top: 40px;
}
.service_faq dl {
  border-top: 1px solid #e1e1e1;
}
.service_faq dl:first-of-type {
  margin-top: 12px;
}
.service_faq dl:last-of-type {
  border-bottom: 1px solid #e1e1e1;
}
.service_faq dl dt {
  position: relative;
  padding: 21px 2% 21px 45px;
  line-height: 1;
  color: #666;
  cursor: pointer;
}
.service_faq dl dt::before {
  content: 'Q.';
  position: absolute;
  left: 20px; top: 21px;
  color: #004c7a;
}
.service_faq dl dt::after {
  content: '';
  position: absolute;
  right: 2%; top: 50%;
  transform: translateY(-50%);
  width: 9px; height: 9px;
  background: url(../images/common/ico-plus-minus.png) no-repeat 0 0;
}
.service_faq dl dd::before {
  content: 'A.';
  position: absolute;
  left: 20px; top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #36ae53;
}
.service_faq dl dd {
  display: none;
  position: relative;
  padding: 20px 2% 20px 45px;
  color: #666;
  background: #fafafa;
}
.service_faq dl dt.on::after {
  background-position: 0 -9px;
}
.service_faq dl dd.on {
  display: block;
}
.service_faq dl dd p:first-child {
  margin-bottom: 13px;
  line-height: normal;
}
.service_faq dl dd p {
  line-height: 1.7;
}
.service_faq dl dd ol {
  counter-reset: item;
}
.service_faq dl dd ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0; top: 0;
}
.service_faq dl dd ol li {
  position: relative;
  margin-top: 8px;
  padding-left: 16px;
  line-height: 1.7;
}
.service_faq dl dd ol li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .service_faq dl dt {
    padding: 21px 6% 21px 42px;
    line-height: 1.7;
  }
  .service_faq dl dt::after {
    display: none;
  }
  .service_faq dl dd p:first-child {
    margin-top: -2px;
    margin-bottom: 10px;
    line-height: 1.7;
  }
  .service_faq dl dd ol li::before {
    position: static;
    margin-right: 4px;
  }
  .service_faq dl dd ol li {
    padding-left: 0;
  }
}

/* contact us */
.contact_wrap {
  width: 505px;
  margin: 0 auto;
}
.contact_wrap .contact_form .btn_wrap {
  width: 200px;
  padding-bottom: 60px;
  margin: 40px auto 0;
}
.contact_wrap .map_box .title_map {
  margin-bottom: 30px;
  padding-bottom: 19px;
  font-size: 18px;
  border-bottom: 2px solid #222;
}
.contact_wrap .map_box .text_location {
  margin-top: 17px;
  line-height: 1.7;
}
.contact_wrap .map_box .info_box {
  overflow: hidden;
  margin-top: 57px;
}
.contact_wrap .map_box .info_box .info_item {
  float: left;
  width: calc(100% / 3);
  text-align: center;
}
.contact_wrap .map_box .info_box .info_item .info_icon {
  display: block;
  font-size: 16px;
}
.contact_wrap .map_box .info_box .info_item .info_icon::before {
  content: '';
  display: block;
  width: 50px; height: 50px;
  margin: 0 auto 18px;
  background: url(../images/contents/ico-info.png) no-repeat;
}
.contact_wrap .map_box .info_box .info_item .info_icon.fax::before {
  background-position: 0 -50px;
}
.contact_wrap .map_box .info_box .info_item .info_icon.mail::before {
  background-position: 0 -100px;
}
.contact_wrap .map_box .info_box .info_item a {
  display: inline-block;
  margin-top: 8px;
}
.contact_wrap .map_box .tel_list {
  margin-top: 40px;
  padding-top: 26px;
  border-top: 1px solid #d8d8d8;
}
.contact_wrap .map_box .tel_list li {
  margin-top: 10px;
}
.contact_wrap .map_box .tel_list li:first-child {
  margin-top: 0;
}
.contact_wrap .map_box .tel_list li span {
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  .contact_wrap {
    width: 100%;
  }
  .contact_wrap .map_box .info_box {
    margin-top: 46px;
    padding: 0 20%;
  }
  .contact_wrap .map_box .info_box .info_item {
    position: relative;
    float: none;
    width: 100%; height: 50px;
    margin-top: 13px;
    padding-top: 7px;
  }
  .contact_wrap .map_box .info_box .info_item:first-child {
    margin-top: 0;
  }
  .contact_wrap .map_box .info_box .info_item .info_icon::before {
    position: absolute;
    left: 0; top: 0;
    margin: 0;
  }
  .contact_wrap .map_box .info_box .info_item .info_icon {
    padding-left: 70px;
    text-align: left;
  }
  .contact_wrap .map_box .info_box .info_item a {
    display: block;
    margin-top: 2px;
    padding-left: 70px;
    text-align: left;
  }
  .contact_wrap .map_box .tel_list li:last-child span {
    display: block;
    margin-left: 0;
    margin-top: 5px;
  }
}

/* user guide */
.guide_wrap {
}
.guide_wrap .guide_item_box {
  margin-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid #d8d8d8;
}
.guide_wrap .guide_item_box .guide_item {
  overflow: hidden;
  margin-top: 60px;
}
.guide_wrap .guide_item_box .guide_item:first-child {
  margin-top: 0;
}
.guide_wrap .guide_item_box .guide_item:nth-child(even) .guide_img,
.guide_wrap .guide_item_box .guide_item:nth-child(even) .guide_txt {
  float: right;
}
.guide_wrap .guide_item_box .guide_item .guide_img {
  float: left;
  width: 50%;
  text-align: center;
}
.guide_wrap .guide_item_box .guide_item .guide_img img {
  max-width: 100%;
}
.guide_wrap .guide_item_box .guide_item .guide_txt {
  float: left;
  width: 50%;
  padding: 27px 2% 0 4.6%;
  box-sizing: border-box;
}
.guide_wrap .guide_item_box .guide_item .guide_txt .title {
  font-size: 18px;
  line-height: 1.71;
}
.guide_wrap .guide_item_box .guide_item .guide_txt > p {
  margin-top: 20px;
  line-height: 1.71;
  color: #666;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ul li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ul li {
  position: relative;
  padding-left: 8px;
  color: #666;
  line-height: 1.7;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol {
  margin-top: 20px;
  counter-reset: item;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0; top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li {
  position: relative;
  margin-top: 2px;
  padding-left: 15px;
  color: #666;
  line-height: 1.7;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li:first-child {
  margin-top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li .line_break {
  display: block;
}
.guide_wrap .txt_alert {
  margin-top: 20px;
  width: 529px;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
  .guide_wrap .txt_alert {
    width: 100%;
  }
  .guide_wrap .guide_item_box .guide_item {
    margin: 60px -4.26% 0;
  }
  .guide_wrap .guide_item_box .guide_item .guide_img,
  .guide_wrap .guide_item_box .guide_item .guide_txt {
    float: none;
    width: 100%;
  }
  .guide_wrap .guide_item_box .guide_item .guide_txt {
    padding: 27px 4.26% 0 4.26%;
  }
  .guide_wrap .guide_item_box .guide_item .guide_txt ol li .line_break {
    display: inline;
  }
}

/* 재무 */
.finance_wrap {
  margin: 40px auto 0;
}
.finance_wrap .finance_info {
  width: 734px; 
  margin: 0 auto;
}
.finance_wrap .finance_info .chart_guide {
  overflow: hidden;
  margin-top: 32px;
}
.finance_wrap .finance_info .chart_guide .unit_txt {
  float: right;
}
.finance_wrap .finance_info .chart_guide .chart_color::before {
  content: '';
  display: inline-block;
  width: 10px; height: 10px;
  margin-right: 5px;
  border-radius: 100%;
}
.finance_wrap .finance_info .chart_guide .chart_color.blue::before {
  background: #004c7a;
}
.finance_wrap .finance_info .chart_guide .chart_color.green::before {
  background: #36ae53;
}
.finance_wrap .finance_info .chart_guide .chart_color {
  margin-left: 17px;
  color: #666;
}
.finance_wrap .finance_info .chart_guide .chart_color:first-child {
  margin-left: 0;
}
.finance_wrap .finance_info .img_box {
  margin-top: 27px;
}
.finance_wrap .finance_info .img_box img {
  max-width: 100%;
}
.finance_wrap .finance_info .img_box .mo_img {
  display: none;
}
@media screen and (max-width: 768px) {
  .finance_wrap .finance_info {
    width: 100%;
  }
  .finance_wrap .finance_info .img_box .pc_img {
    display: none;
  }
  .finance_wrap .finance_info .img_box .mo_img {
    display: block;
    margin: 0 auto;
  }
}

/* 서비스 이용 대상 */
.service_target {
  padding: 40px 0 0;
}
.service_target .text_box {
  width: 713px;
  margin: 0 auto;
  text-align: center;
}
.service_target .text_box h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.28;
}
.service_target .text_box p {
  margin-top: 20px;
  line-height: 1.7;
}
.service_target .text_box p .mo_br {
  display: none;
}
.service_target .item_box {
  overflow: hidden;
  margin-top: 80px;
}
.service_target .item_box .item_target {
  float: left;
  width: 50%; height: 408px;
  padding: 40px 0;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  text-align: center;
}
.service_target .item_box .item_target:first-child {
  border-right: 0;
}
.service_target .item_box .item_target .title_target strong {
  display: block;
  font-size: 26px;
}
.service_target .item_box .item_target .title_target span {
  display: block;
  margin-top: 8px;
  font-size: 16px;
}
.service_target .item_box .item_target .ico_target {
  margin-top: 30px;
}
.service_target .item_box .item_target ul {
  display: inline-block;
  margin-top: 27px;
}
.service_target .item_box .item_target ul > li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.service_target .item_box .item_target ul > li {
  position: relative;
  padding-left: 8px;
  text-align: left;
  line-height: 1.7;
}
.service_target .item_box .item_target ul > li:first-child {
  margin-top: 0;
}
.service_target .cs_center {
  margin-top: 37px;
  text-align: center;
}
.service_target .cs_center strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
}
.service_target .cs_center a {
  display: inline-block;
  margin-top: 11px;
  font-size: 26px;
}
.service_target .cs_center p {
  margin-top: 13px;
  font-size: 16px;
}
.service_target .cs_center p span {
  display: inline-block;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .service_target {
    padding: 40px 0 160px;
  }
  .service_target .text_box {
    width: 100%;
  }
  .service_target .text_box h3 {
    font-size: 26px;
    line-height: 1.4;
  }
  .service_target .text_box p {
    margin-top: 25px;
  }
  .service_target .text_box p .mo_br {
    display: inline;
  }
  .service_target .item_box {
    margin-top: 46px;
  }
  .service_target .item_box .item_target {
    float: none;
    width: 100%;
  }
  .service_target .item_box .item_target:first-child {
    border-right: 1px solid #e1e1e1;
    border-bottom: 0;
  }
}
/* 회사소개 */
.company_wrap {
  padding:40px 0 0;
}
.company_wrap .mo_br {
  display:none;
}
.section_company01 .txt_green {
  display:block;
  line-height:16px;
  letter-spacing: -0.09px;
  font-size:16px;
  text-align:center;
}
.section_company01 h3.title_section {
  margin-top:10px;
  letter-spacing: -0.2px;
  line-height:36px;
  font-size:36px;
  font-weight:400;
  text-align:center;
}
.section_company01 h3.title_section br {
  display:none;
}
.section_company01 .txt_box:before {
  content:'';
  display:block;
  width:100%;
  height:300px;
  background:url('../images/contents/bg_section_company01.jpg') no-repeat center; 
  background-size:cover;
}
.section_company01 .txt_box {
  margin-top:40px;
  padding:0 0 100px;
}
.section_company01 .txt_box span {
  display:block;
  margin-top:40px;
  line-height:1.56;
  text-align:left;
  font-size:18px;
  font-weight:500;
}
.section_company01 .txt_box p {
  margin-top:20px;
  padding-bottom:40px;
  box-sizing:border-box;
  border-bottom:1px solid #d8d8d8;
  line-height:1.71;
  text-align:left;
  white-space: pre-line;
}
.section_company01 .txt_box h4 {
  margin-top:45px;
  font-size:18px;
  font-weight:500;
}
.section_company01 .txt_box ul {
  margin-top:20px;
}
.section_company01 .txt_box ul li {
  line-height:24px;
}
.section_company02 {
  padding-top:45px;
  position: relative;
  text-align:center;
}
.section_company02 h3:before {
  content:'';
  z-index: -1;
  display: block;
  position: absolute;
  top:0;
  width:100%;
  height:340px;
  background:url('../images/contents/bg_section_company02.jpg') no-repeat center;
  background-size:cover;
}
.section_company02 h3 {
  color:#fff;
  line-height:36px;
  font-size:26px;
}
.section_company02 table {
  margin:89px auto 0;
  width:52.60%;
  text-align:left;
}
.section_company02 table th {
  padding:22px 0 20px 20px;
  width:31.08%;
  box-sizing: border-box;
  border-bottom:1px solid #e1e1e1;
  text-align:left;
  line-height:14px;
}
.section_company02 table td {
  padding:22px 0 20px;
  height:55px;
  box-sizing: border-box;
  border-bottom:1px solid #e1e1e1;
  line-height:14px;
}

.section_company02 table td p {
  line-height:24px;
}
.section_company02 table td span {
  display:block;
  line-height:14px;
}
.section_company02 table td span:nth-child(2) {
  margin:10px 0;
}
.section_company02 tr:first-child th,
.section_company02 tr:first-child td {
  padding-top:0;
}
.section_company02 tr:last-child th,
.section_company02 tr:last-child td {
  padding-bottom:0;
  border-bottom:none;
}

@media screen and (max-width: 768px) {
  .container_company {
    padding:0;
  }
  .company_wrap .mo_br {
    display:block;
  }
  .section_company01 {
    padding:0 4.26%;
  }
  .section_company01 h3.title_section br {
    display:block;
    line-height:46px;
  }
  .section_company01 .txt_box {
    padding:0 0 80px ;
  }
  .section_company01 .txt_box:before {
    content:'';
    display:block;
    width:100%;
    height:230px;
    background:url('../images/contents/bg_section_company01_m.jpg') no-repeat center; 
    background-size:cover;
  }
  .section_company02 h3:before {
    height:310px;
    background:url('../images/contents/bg_section_company02_m.jpg') no-repeat center;
    background-size:cover;
  }
  .section_company02 {
    padding-top:35px;
  }
  .section_company02 h3 {
    margin:0 auto;
    color:#fff;
    line-height:1.31;
    text-align:center;
    font-size:26px;
  }
  .section_company02 table {
    margin:75px auto 0;
    width:70.13%;
  }
  .section_company02 table th {
    display:block;
    width:100%;
    padding:21px 0 15px;
    border-bottom:none;
  }
  .section_company02 table td {
    width:100%;
    display:block;
    padding:0 0 21px;
    height:auto;
  }
  .section_company02 table td p br {
    display:none;
  }
  .section_company02 table td span:nth-child(2) {
    margin:0;
  }
  .section_company02 table td span {
    line-height:1.71;
  }
  .section_company02 tr:last-child th {
    padding:21px 0 15px;
  }
}
/* 글로벌 금융네트워크 */
.network_wrap {
  margin-top:40px;
}

.network_wrap ul {
  margin-left: -20px;
  margin-top: -24px;
}

.network_wrap ul li {
  float: left;
  padding: 30px;
  width: 306px; height: 384px; 
  border: 1px solid #d8d8d8;
  margin-left: 20px;
  margin-top: 24px;
}

.network_wrap ul li img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.network_wrap ul li h3 {
  font-size: 16px;
  font-weight: 700;
  margin:30px 0 10px 0;
  color: #666;
}

.network_wrap ul li p {
  color: #666;
  line-height: 24px;
}

.network_wrap ul li .addr_mail {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .network_wrap ul {
    margin-left: 0;
  }

  .network_wrap ul li {
    width: 100%; height: 384px;
    margin-left: 0;
    margin-top: 20px;
    padding: 20px;
  }

  .network_wrap ul li img {
    width: 246px; height: 100px;
    padding-top: 10px;
  }
}

/* 서비스 이용약관 */
.service_terms {
  padding: 40px 0 0;
}
.service_terms h3 {
  font-size: 26px;
  font-weight: 400;
}
.service_terms .terms_wrap {
  margin-top: 30px;
}
.service_terms .terms_wrap .item_terms {
  margin-top: 23px;
}
.service_terms .terms_wrap .item_terms:first-child {
  margin-top: 0;
}
.service_terms .terms_wrap .item_terms h4 {
  font-size: 16px;
  font-weight: 700;
  color: #666;
}
.service_terms .terms_wrap .item_terms > p {
  margin-top: 7px;
  color: #666;
}
.service_terms .terms_wrap .item_terms ol {
  margin-top: 7px;
  counter-reset: item;
}
.service_terms .terms_wrap .item_terms ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  display: table-cell;
  padding-right: 2px;
}
.service_terms .terms_wrap .item_terms ol li {
  display: table;
  margin-top: 3px;
  line-height: 1.7;
}
.service_terms .terms_wrap .item_terms ol li:first-child {
  margin-top: 0;
}

/* 서비스 수수료 */
.service_commission {
  padding: 40px 0 0;
}
.service_commission .top_commission {
  display: table;
  width: 100%;
  padding: 0 3.125% 60px;
}
.service_commission .top_commission .left_box,
.service_commission .top_commission .right_box {
  display: table-cell;
  vertical-align: middle;
}
.service_commission .top_commission .left_box dt {
  margin-bottom: 7px;
  font-size: 26px;
  line-height: 1.4;
}
.service_commission .top_commission .left_box dd::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.service_commission .top_commission .left_box dd {
  position: relative;
  padding-left: 7px;
  line-height: 1.7;
  color: #666;
}
.service_commission .top_commission .right_box > div {
  float: left;
  margin-left: 23.7%;
  text-align: center;
}
.service_commission .top_commission .right_box > div:first-child {
  margin-left: 0;
}
.service_commission .top_commission .right_box > div img {
  max-width: 100%;
  height: 114px;
}
.service_commission .top_commission .right_box > div strong {
  display: block;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 700;
}
.service_commission .top_commission .right_box > div p {
  margin-top: 6px;
  font-size: 18px;
}
.service_commission .info_commission {
  overflow: hidden;
}
.service_commission .info_commission > div {
  float: left;
  width: 50%; height: 320px;
  padding: 40px 6.14% 0;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  text-align: center;
}
.service_commission .info_commission > div:first-child {
  border-right: 0;
}
.service_commission .info_commission .title strong {
  font-size: 18px;
  font-weight: 700;
}
.service_commission .info_commission .title p {
  margin-top: 2px;
  font-size: 18px;
}
.service_commission .info_commission ul {
  min-height: 96px;
  margin-top: 26px;
}
.service_commission .info_commission ul li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.service_commission .info_commission ul li {
  position: relative;
  padding-left: 7px;
  line-height: 1.7;
  text-align: left;
}
.service_commission .info_commission > div > p {
  font-size: 26px;
}
.service_commission .info_commission > div > span {
  display: block;
  margin-top: 4px;
  font-size: 18px;
}
.service_commission .info_list {
  margin-top: 30px;
}
.service_commission .info_list li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.service_commission .info_list li {
  position: relative;
  padding-left: 7px;
  line-height: 1.7;
  color: #666;
}

@media screen and (max-width: 768px) {
  .service_commission .top_commission {
    padding: 0 0 55px 0;
  }
  .service_commission .top_commission .left_box,
  .service_commission .top_commission .right_box {
    display: block;
  }
  .service_commission .top_commission .right_box {
    overflow: hidden;
    margin-top: 60px;
  }
  .service_commission .top_commission .right_box > div {
    width: 50%;
    margin-left: 0;
  }
  .service_commission .top_commission .right_box > div img {
    height: 90px;
  }
  .service_commission .info_commission > div {
    float: none;
    width: 100%;
  }
  .service_commission .info_commission > div:first-child {
    border-right: 1px solid #e1e1e1;
    border-bottom: 0;
  }
  .service_commission .info_commission ul {
    min-height: auto;
  }
  .service_commission .info_commission ul li {
    word-break: keep-all;
  }
  .service_commission .info_commission > div > p {
    margin-top: 30px;
  }
  .service_commission .info_list li {
    word-break: keep-all;
  }
}
/* 서비스 소개 */
.service_info {
  padding:40px 0 0;
}
.service_info .mo_br {
  display:none;
}
.service_info .text_box  {
  text-align:center;
}
.service_info .text_box h3 {
  font-size:36px;
  line-height:1.28;
}
.service_info .text_box p { 
  line-height:1.71;
}
.service_info .text_box01 p {
  margin-top:30px;
}
.service_info .text_risk {
  display:block;
  margin-top:40px;
  line-height:1.33;
  text-align:center;
  font-size:18px;
  font-weight:700;
}
.service_info .risk_list {
  position:relative;
  margin-top:33px;
  text-align:center;
}
.risk_list > div span {
  display:block;
  line-height:normal;
  font-weight:700;
  font-size:18px;
}
.risk_list > div span.txt_blue {
  margin-top:8px;
}
.risk_list > div {
  clear:both;
  position:relative;
  margin:0 auto;
  width:27.11%; height:560px;
  line-height:46px;
}
.service_info .risk_list > div p {
  border-radius: 22px;
  color:#fafafa;
  font-size:26px;
  font-weight:400;
}
.risk_list > div h4:last-child {
  position:absolute;
  bottom:0;
  width:100%;
}
/* list border style */
.service_info .circle01:before,
.service_info .circle01:after,
.service_info .circle02:after,
.service_info .circle02:before {
  content:'';
  display:block;
  width:9px;
}
.service_info .circle01:before {
  margin:5px auto 0;
  height:42px;
  background:url('../images/contents/arrow_green02.png') no-repeat top;
}
.service_info .circle01:after {
  margin:0 auto 5px;
  height:44px;
  background:url('../images/contents/arrow_blue02.png') no-repeat top;
}
.service_info .bg_green {
  background:#36ae53;
}
.service_info .bg_blue {
  background:#003a60;
}
.service_info .circle02:after {
  margin:0 auto 5px;
  height:44px;
  background:url('../images/contents/arrow_blue02.png') no-repeat top;
}
.service_info .circle02:before {
  margin:0 auto;
  height:42px;
  background:url('../images/contents/arrow_green02.png') no-repeat top;
}
.risk_list .list_item:before {
  content:'';
  position:absolute;
  top:-26px; left:50%;
  width:80.80%; height:22px;
  border-width: 2px 2px 0 2px;
  border-color: #003a60;
  border-style: solid;
  box-sizing: border-box;
  transform:translateX(-50%);

}
.risk_list .list_item {
  position:absolute;
  top:164px;
  width:100%;
}
.risk_list .list_item:after {
  content:'';
  position:absolute;
  bottom:-26px; left:50%;
  clear:both;
  width:80.80%; height:22px;
  border-width: 0 2px 2px 2px;
  border-color: #36ae53;
  border-style: solid;
  box-sizing: border-box;
  transform:translateX(-50%);
}

.risk_list .list_item li {
  position:relative;
  float:left;
  margin-left: 8px;
  padding:78px 0 0 0;
  width: calc((100% - 34px) / 5); height: 230px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  text-align:center;
}
.risk_list .list_item li.item01:before,
.risk_list .list_item li.item05:before{
  content:'';
  position:absolute;
  top:-11px; left:50%;  
  width:9px; height:9px;
  background:url('../images/contents/arrow_blue.png') no-repeat top;
  transform:translateX(-50%);
}
.risk_list .list_item li.item01:after,
.risk_list .list_item li.item05:after {
  content:'';
  position:absolute;
  bottom:-11px; left:50%;  
  width:9px; height:9px;
  background:url('../images/contents/arrow_green.png') no-repeat top;
  transform:translateX(-50%);
}
.risk_list .list_item li.item01 {
  margin-left:0;
}
.risk_list .list_item li.item02:before,
.risk_list .list_item li.item02:after,
.risk_list .list_item li.item04:before,
.risk_list .list_item li.item04:after {
  content:'';
  position:absolute;
  left:50%;
  width:9px; height:25px;
  transform:translateX(-50%);
  background-position:center bottom;
}
.risk_list .list_item li.item02:before,
.risk_list .list_item li.item04:before {
  top:-27px;
  background:url('../images/contents/arrow_blue03.png') no-repeat bottom;
}
.risk_list .list_item li.item02:after,
.risk_list .list_item li.item04:after {
  bottom:-27px;
  background:url('../images/contents/arrow_green03.png') no-repeat bottom;
}
.risk_list .list_item li p {
  margin-top:38px;
}
.risk_list .list_item li.item03 p {
  margin-top:25px;
}
.risk_list .list_item li i {
  display:block;
  margin:0 auto;
  width:55px;
  height:50px;
  background:url('../images/contents/ico_risk.png') no-repeat left;
}
.risk_list .list_item li.item02 i {
  background-position:-57px center;
}
.risk_list .list_item li.item03 i {
  background-position:-109px center;
}
.risk_list .list_item li.item04 i {
  background-position:-164px center;
}
.risk_list .list_item li.item05 i {
  background-position:-220px center;
}
.risk_list .list_item li.item05 .txt_red {
  position:absolute;
  top:36px; left:0;
  width:100%;
  font-weight:700;
}
.service_info .text_box02 {
  margin-top:37px;
}
.service_info .text_box02 .txt_green {
  display:block;
  line-height:1.33;
  font-weight:700;
  font-size:18px;
}
.service_info .text_box02 p {
  margin-top:10px;
  line-height:1.71;
}
@media screen and (max-width: 768px) {
  .service_info {
    padding:50px 0 103px;
  }
  .service_info .mo_br {
    display:block;
  }
  .service_info .text_risk {
    margin-top:30px;
  }
  .service_info .risk_list {
    margin-top:30px;
  }
  .risk_list > div {
    width:81.25%;
    height:1000px;
  }
  .service_info .circle01:after,
  .service_info .circle02:before,
  .risk_list .list_item:before,
  .risk_list .list_item:after {
    display:none;
  }
  
  .risk_list .list_item li {
    float:none;
    margin-left:0;
    margin-top:30px;
    padding:0 16.25% 0 17.5%;
    width:100%; height:110px;
    text-align:left;
  }
  .risk_list .list_item li:first-child {
    margin-top:0;
  }
  .risk_list .list_item li i {
    display:inline-block;
    /* margin-right:14.375%; */
    height:100%;
    vertical-align: middle;
  }

  .risk_list .list_item li > p {
    display:inline-block;
    float:right;
    margin:0;
    padding-top:45px;
    width:35.31%;
    vertical-align: middle;
  }
  .risk_list .list_item li.item:after {
    background:url('../images/contents/arrow_blue_m.png');
    width:9px; height:30px;
    bottom:-30px; left: 57.813%;
  }
  .risk_list .list_item li.item:before {
    background:url('../images/contents/arrow_green_m.png');
    width:9px; height:30px;
    top:110px; left:42.187%;
  }
  .risk_list .list_item li.item05:after,
  .risk_list .list_item li.item05:before {
    display:none;
  }
  .risk_list .list_item li.item03 p {
    margin:0;
    padding-top:38px;
  }
  .risk_list .list_item li.item05 .txt_red {
    position:static;
    display: inline-block;
  }
  .risk_list .list_item li.item05 div {
    float:right;
    padding-top:34px;
  }
  .risk_list .list_item li.item05 div p {
    margin-top:4px;
  }
  .service_info .text_box02 {
    margin-top:50px;
  }
  
  

}

/* news */
.news .inner_box {
  padding: 40px 0;
  border-bottom: 1px solid #d8d8d8;
}
.news .btn_wrap {text-align: right;}
.news .btn_wrap .btn {width:200px;}
.news h3 {margin-bottom:30px;font-size:16px;color:#222;height:1.3;font-weight:700;}
.news p {margin-top:30px;}
.news p:first-child {margin-top:0;}
.news br {height:30px;}


/* help */
/* 자료실 리스트 */
.sort_data.sort_wrap .input_search {
  margin-left:0;
}
.table_wrap.tb_type02 table tr td:nth-child(2) {
  padding-left:4%;
  text-align:left;
}
.data_list .btn_wrap .btn_more {
 margin:30px auto 0;
}

/* 게시글 보기 페이지 */
.board_detail {
  text-align:center;  
}
.board_detail:after {
  content:'';
  display:block;
  clear:both;
}
.board_detail h3 {
  margin:40px 0 20px;
  font-size:18px;
  line-height:16px;
}
.board_info {
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
}
.board_info:after {
  content:'';
  display:block;
  clear:both;
}
.board_detail dl {
  float:left;
  width:33.33%;
}
.board_detail dl dt,
.board_detail dl dd {
  float:left;
  line-height:55px;
}
.board_detail dl dt {
  width:39.81%;
  background:#eee;
  font-weight:500;
}
.board_detail dl dd {
  box-sizing: border-box;
  color:#666;
  text-align:left;
}
.board_detail.tb_type03 dl dd {
  padding-left:9.4%;
  width:calc(100% - 39.81%);
}
.board_detail dl dd a {
  text-decoration:underline;
}
.board_detail.tb_type03 .tb_item04 {
  width:100%;
  border-top:1px solid #e1e1e1;
}
.board_detail.tb_type03 .tb_item04 dt {
  width:13.24%;
  border-top:none;
}
.board_detail.tb_type03 .tb_item04 dd {
  padding-left:3%;
  border-top:none;
  width:calc(100% - 13.24%);
}

.board_detail .content_box {
  clear:both;
  padding:20px 37px;
  min-height:262px;
  border-bottom:1px solid #e1e1e1;
  text-align:left;
}
.board_detail .content_box span {
  color:#666;
}
.btn_move {
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
}
.btn_move div {  
  line-height:55px;
  text-align:left;
}
.btn_move div:first-child {
  border-bottom:1px solid #e1e1e1;
}
.btn_move div strong {
  margin-right:3.82%;
  font-weight:500;
}
.btn_move div a {
  position:relative;
  display:block;
  padding:0 2.29%;
  width:100%;
}
.btn_move div a:after {
  content:'';
  position: absolute;
  right:2.29%;
  top:50%;
  margin-top:-4px;
  width:12px;
  height:8px;
  background:url('../images/contents/arr_bottom.png') no-repeat right;
}
.btn_move div:first-child a:after {
  transform: rotate(180deg)
}

@media screen and (max-width: 768px) {
  /* 자료실 리스트 */
  .sort_wrap .input_search {
    width:100%;  
  }
  .table_wrap.tb_type02 {
    overflow-x:inherit;
  }
  .table_wrap.tb_type02 table {
    width:100%;
  }
  .data_list .btn_wrap .btn_more {
    margin:30px auto 0;
  }

  /* 게시글 보기페이지 */
  .board_info {
    position:relative;
    overflow:hidden;
  }
  .board_info dl.tb_item01 {
    width:57.06%;
  }
  .board_info dl.tb_item02 {
    width:100%;
    border-top:1px solid #e1e1e1;
  }
  .board_info dl.tb_item03 {
    float:none;
    position:absolute;
    top:0;
    right:0;
    width:42.94%; 
  }
  .board_detail.tb_type03 .tb_item01 dt {
    width:41.46%;
  }
  .board_detail.tb_type03 .tb_item01 dd {
    width:calc(100% - 41.46%);
    padding-left:10%;
  }
  .board_detail.tb_type03 .tb_item02 dt,
  .board_detail.tb_type03 .tb_item02 dd {
    border-top:none;
  }
  .board_detail.tb_type03 .tb_item02 dt,
  .board_detail.tb_type03 .tb_item04 dt {
    width:23.66%;
  }
  .board_detail.tb_type03 .tb_item02 dd,
  .board_detail.tb_type03 .tb_item04 dd {
    padding-left:6%;
    width:calc(100% - 23.66%);
  }
  .board_detail.tb_type03 .tb_item03 dt {
    width:55.59%;
  }
  .board_detail.tb_type03 .tb_item03 dd {
    width:calc(100% - 55.59%);
  }
  .board_info .content_box {
    padding:18px 20px;
    min-height:180px;
  }
  .btn_wrap .btn_more {
    margin:30px auto 80px;
  }

  .btn_move div a {
    padding:0 5.53%;
  }
  .btn_move div a:after {
    right:5.53%;
  }
  .btn_move div strong {
    margin-right:8.74%;
  }
}

/* -------------------------
      member area
 ------------------------- */

/* 회원 가입 */
.join_form {
  width: 505px;
  margin: 0 auto;
}
.join_form .require {
  color: #ff3d00;
}
.join_form .btn_wrap {
  margin-top: 40px;
}
.join_form .txt_notice {
  margin-top: 32px;
  color: #36ae53;
  text-align: center;
}
.form_group .group_title {
  margin: 40px 0 30px;
  padding-bottom: 19px;
  font-size: 18px;
  border-bottom: 2px solid #222;
}
.form_group .group_title .require_txt {
  float: right;
  line-height: 23px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.form_group .group_title .require_txt em {
  color: #ff3d00;
}
.form_group .group_wrap .group_inp {
  margin-top: 20px;
}
.form_group .group_wrap .group_inp dd {
  margin-top: 10px;
  font-weight: 500;
}
.form_group .group_wrap .group_inp .col2 {
  overflow: hidden;
}
.form_group .group_wrap .group_inp .col2 select {
  float: left;
  width: 28%;
  background-position: 93% 50%;
}
.form_group .group_wrap .group_inp .col2 input {
  float: left;
  width: 71%;
}
.form_group .group_wrap .group_inp .col2 *:last-child {
  margin-left: 1%;
}
.form_group .group_wrap .group_inp.col_half {
  overflow: hidden;
}
.form_group .group_wrap .group_inp.col_half dd {
  float: left;
  width: 49.5%;
}
.form_group .group_wrap .group_inp.col_half dd:last-child {
  margin-left: 1%;
}
.form_group .group_wrap .group_inp .txt_message {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #999;
}
.form_group .group_wrap .group_inp .vaild_message {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
}
.form_group .group_wrap .group_inp .txt_message + .vaild_message {
  margin-top: 4px;
}
.form_group .group_wrap .group_inp .vaild_message.vaild {
  color: #36ae53;
}
.form_group .group_wrap .group_inp .vaild_message.invaild {
  color: #ff3d00;
}
.form_group .group_wrap.col2 {
  overflow: hidden;
  margin-top: -10px;
}
.form_group .group_wrap.col2 .group_inp {
  float: left;
  margin-top: 0;
  margin-left: 50px;
}
.form_group .group_wrap.col2 .group_inp:first-child {
  margin-left: 0;
}
.form_notice {
  margin-top: 58px;
}
.form_notice .txt_alert {
  position: relative;
  padding: 0 0 15px 28px;
  border-bottom: 1px solid #d8d8d8;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 500;
}
.form_notice .txt_alert::before {
  content: '';
  position: absolute;
  left: 0; top: 4px;
  width: 20px; height: 20px;
  background: url(../images/common/ico-alert.png) no-repeat 0 0;
}
.form_notice ol {
  margin-top: 24px;
  padding: 0 1.5%;
}
.form_notice ol > li {
  margin-top: 14px;
  color: #666;
}
.form_notice ol > li:first-child {
  margin-top: 0;
}
.form_notice .txt_bg {
  height: 54px;
  margin-top: 24px;
  padding-left: 1.5%;
  line-height: 55px;
  background: #fafafa;
  border-bottom: 1px solid #d8d8d8;
  color: #666;
}
.form_notice .txt_desc {
  margin-top: 15px;
  color: #666;
}
.sample_down {
  display: block;
  margin-top: 14px;
}
.captcha_wrap {
  margin-top: 40px;
}
.captcha_wrap .captcha_inner {
  height: 129px;
  margin-top: 10px;
  padding: 23px 21.7% 20px;
  background: #fafafa;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .join_form {
    width: 100%;
  }
}

/* 회원가입 완료 */
.join_fin_wrap {
}
.join_fin_wrap .txt_box {
  margin-top: 80px;
  padding-bottom: 30px;
  border-bottom: 2px solid #222;
  text-align: center;
}
.join_fin_wrap .txt_box .txt_welcome {
  font-size: 36px;
  font-weight: 400;
}
.join_fin_wrap .txt_box .txt_alert {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  padding-left: 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.join_fin_wrap .txt_box .txt_alert::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 20px; height: 20px;
  background: url(../images/common/ico-alert.png)no-repeat 0 0;
}
.join_fin_wrap ol {
  margin-top: 30px;
  padding-left: 8.4%;
}
.join_fin_wrap ol > li {
  margin-top: 20px;
  font-size: 16px;
}
.join_fin_wrap ol > li:first-child {
  margin-top: 0;
}
.join_fin_wrap .txt_notice {
  margin-top: 30px;
  padding: 22.5px 9.7%; 
  background: #fafafa;
}
.join_fin_wrap .txt_notice p {
  position: relative;
  font-size: 16px;
}
.join_fin_wrap .txt_notice p::before {
  content: '';
  position: absolute;
  left: -12px; top: 50%;
  width: 4px; height: 4px;
  border-radius: 100%;
  background: #36ae53;
  transform: translateY(-50%);
}
.join_fin_wrap ul {
  margin-top: 29px;
  padding-left: 8.4%;
}
.join_fin_wrap ul > li {
  margin-top: 8px;
  color: #666;
}
.join_fin_wrap ul > li:first-child {
  margin-top: 0;
}
.join_fin_wrap .btn_wrap {
  width: 360px;
  margin: 50px auto 0;
}

@media screen and (max-width: 768px) {
  .join_fin_wrap {
  }
  .join_fin_wrap ol {
    padding-left: 0;
  }
  .join_fin_wrap ol > li {
    line-height: 1.4;
  }
  .join_fin_wrap .txt_notice {
    padding: 22.5px 5.7%;
  }
  .join_fin_wrap ul {
    padding-left: 0;
  }
  .join_fin_wrap ul > li {
    line-height: 1.4;
  }
  .join_fin_wrap .btn_wrap {
    width: 100%;
  }
}

/* 마이페이지 */
.mypage_form {
  width: 505px;
  margin: 0 auto;
}
.mypage_form .require {
  color: #ff3d00;
}
.mypage_form .btn_wrap {
  margin-top: 40px;
}
.mypage_form .txt_notice {
  margin-top: 32px;
  color: #36ae53;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .mypage_form {
    width: 100%;
  }
}


/* -------------------------
      로그인 area
 ------------------------- */
.login_wrap {
  width: 360px;
  margin: 0 auto;
}
.login_wrap .group_wrap {
  margin-top: 50px;
}
.login_wrap .group_wrap .group_inp {
  margin-top: 10px;
}
.login_wrap .group_wrap .group_inp:first-child {
  margin-top: 0;
}
.login_wrap .group_wrap .group_inp:first-child input {
  border-color: #36ae53;
}
.login_wrap .group_wrap .group_inp.chk_inp_box {
  margin-top: 18px;
}
.login_wrap .group_wrap .group_inp.chk_inp_box .txt_label {
  margin-left: 8px;
  color: #666;
}
.login_wrap .group_wrap .btn_wrap {
  margin-top: 46px;
}
.login_wrap .forgot_wrap {
  overflow: hidden;
  position: relative;
  left: 50%;
  display: inline-block;
  margin-top: 30px;
  transform: translateX(-50%);
}
.login_wrap .forgot_wrap a {
  float: left;
  margin-left: 14px;
  padding-left: 14px;
  border-left: 1px solid #e1e1e1;
  font-size: 12px;
  font-weight: 500;
  color: #666;
}
.login_wrap .forgot_wrap .join_link {
  color: #36ae53;
}
.login_wrap .forgot_wrap a:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}

@media screen and (max-width: 768px) {
  .login_wrap {
    width: 100%;
  }
}

/* -------------------------
      아이디 찾기, 비밀번호 초기화 area
 ------------------------- */
.id_pw_wrap {
  width: 360px;
  margin: 0 auto;
}
.id_pw_wrap .group_wrap {
  margin-top: 50px;
}
.id_pw_wrap .group_wrap .group_inp {
  margin-top: 10px;
}
.id_pw_wrap .group_wrap .group_inp:first-child {
  margin-top: 0;
}
.id_pw_wrap .group_wrap .group_inp:first-child input {
  border-color: #36ae53;
}
.id_pw_wrap .group_wrap .group_inp.chk_inp_box {
  margin-top: 18px;
}
.id_pw_wrap .group_wrap .group_inp.chk_inp_box .txt_label {
  margin-left: 8px;
  color: #666;
}
.id_pw_wrap .group_wrap .btn_wrap {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .tab button {    
    padding:8px 25px 12px;
    line-height:20px;
  }
  .id_pw_wrap {
    width: 100%;
  }
}

/* -------------------------
      에스크로 area
 ------------------------- */

/* 에스크로 신청하기 */
.apply_form {
  width: 505px;
  margin: 0 auto;
}
.apply_form .btn_wrap {
  margin-top: 40px;
}
.group_wrap .accordian_inp {
  margin-top: 7px;
}
.group_wrap .accordian_inp:first-of-type {
  margin-top: 0;
}
.group_wrap .accordian_inp .title_accordian {
  display: block;
  height: 44px;
  padding: 0 20px;
  line-height: 44px;
  font-weight: 500;
  background: #eee;
  border-bottom: 1px solid #d0d0d0;
}
.group_wrap .accordian_inp .title_accordian .text_state {
  position: relative;
  float: right;
  font-weight: 400;
}
.group_wrap .accordian_inp .title_accordian .text_state:after {
  content: '';
  display: inline-block;
  width: 9px; height: 9px;
  margin-left: 5px;
  background: url(../images/common/ico-plus-minus.png) no-repeat 0 0;
}
.group_wrap .accordian_inp .inp_wrap {
  display: none;
  padding: 30px 4% 0;
  background: #fafafa;
}
.group_wrap .accordian_inp .inp_wrap .group_inp:first-child {
  margin-top: 0;
}
.group_wrap .accordian_inp.open .title_accordian .text_state:after {
  background-position: 0 -9px;
}
.group_wrap .accordian_inp .inp_wrap .btn_wrap {
  margin: 30px -4% 0;
}
.group_wrap .accordian_inp .inp_wrap .btn_wrap .btn span {
  font-size: 14px;
}

/* 무역견적서 팝업 */
.layer_popup.trade_apply .popup_box {
  width: 960px;
}
.layer_popup.trade_apply .popup_box .table_wrap {
  margin-top: 0;
}
.layer_popup.trade_apply .popup_box .content_popup {
  overflow-y: auto;
  max-height: 700px;
}
@media screen and (max-width: 768px) {
  .apply_form {
    width: 100%;
  }
}

/* 에스크로 신청내역 */

.table_wrap.tb_type01 table tr td:nth-child(4) {
  padding-left:12px;
  text-align:left;
}

.table_wrap.tb_type01 table tr td:nth-child(5) {
  padding-left:20px;
  text-align:left;
}

/* 입금 팝업 스타일 */
.layer_popup.wait_deposit dl {
  margin-top: 20px;
}
.layer_popup.wait_deposit dl:first-child {
  margin-top: 0;
}
.layer_popup.wait_deposit dl dt {
  font-weight: 500;
}
.layer_popup.wait_deposit dl dd {
  overflow: hidden;
  margin-top: 10px;
}
.layer_popup.wait_deposit dl dd input {
  float: left;
  width: 66%;
}
.layer_popup.wait_deposit dl dd select {
  width: 33%;
  margin-left: 1%;
  background-position: 90% 50%;
}
.layer_popup.wait_deposit .btn_wrap {
  width: 205px;
  margin: 20px auto 0;
}

.layer_popup.complete_deposit .content_popup {
  padding-bottom: 40px;
  text-align: center;
}
.layer_popup.complete_deposit .content_popup strong {
  font-size: 20px;
}
.layer_popup.complete_deposit .content_popup p {
  margin-top: 5px;
}

/* 출금 팝업 스타일 */
.layer_popup.wait_withdraw .content_popup {
  padding: 60px 9.7%;
}
.layer_popup.wait_withdraw .btn_wrap .btn {
  float: left;
  width: calc(100% / 3);
}
.layer_popup.wait_withdraw .btn_wrap .btn:first-child,
.layer_popup.wait_withdraw .btn_wrap .btn:nth-child(2) {
  border-right: 0;
} 

.layer_popup.stop_deal .text_box strong {
  font-size: 20px;
}
.layer_popup.stop_deal .text_box p {
  margin-top: 10px;
  line-height: 1.4;
}
.layer_popup.stop_deal textarea {
  height: 100px;
  margin-top: 20px;
  padding: 15px 20px;
  line-height: 1.4;
  resize: none;
}
.layer_popup.stop_deal .btn_wrap {
  width: 100px;
  margin: 20px auto 0;
}


@media screen and (max-width: 768px) {
  .sort_wrap {
    margin-top:20px;
  }
  .align_left,
  .align_right {
    float:none;
    width:100%;
  }
  .align_left:after {
    content:'';
    display:block;
    clear:both;
  }
  .align_right {
    margin-top:6.5px;
  }
  .sort_wrap .input_search {
    width:calc(71.35% - 5px);
  }
  .sort_wrap select.select_sort {
    width:28.65%;
  }
  .sort_wrap input.input_sort {
    width:calc(100% - 44px);
  }
}

/* 에스크로 신청내역 view */
.escrow_view {
  width: 505px;
  margin: 0 auto;
}
.escrow_view .con_box {
  margin-top: 40px;
}
.escrow_view .con_box h3 {
  margin-bottom:30px;
  padding-bottom:10px;
  border-bottom:2px solid #222;
  font-size:18px;
  font-weight:500;
}
.escrow_view .con_box table {
  width:100%;
}
.escrow_view .con_box tbody tr:first-child th,
.escrow_view .con_box tbody tr:first-child td {
  border-top:1px solid #e1e1e1;
}
.escrow_view .con_box th,
.escrow_view .con_box td {
  padding: 18px 4% 17px;
  border-right:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  text-align:left;
  vertical-align: middle;
}
.escrow_view .con_box th {
  width:31%;
  background-color:#eee;
  border-left:1px solid #e1e1e1;
  font-weight:500;
}
.escrow_view .con_box td {
  color:#666;
}
.escrow_view .con_box .last_txt td {
  line-height: 1.6;
}
.escrow_view .btn_wrap {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .escrow_view {
    width: 100%;
  }
  .escrow_view .con_box th {
    width: 37%;
  }
}
/* 상태 버튼 및 표시 */
.status {
  display: inline-block;
  line-height: 40px;
  text-align:center;
  width:145px;
}
.status a {
  display: block;
  line-height: 40px;
  text-decoration: none;
}

.status.wait_appro {color: #666;}
.status.es_wait_dep a{color: #fff;background-color: #999;}
.status.es_comp_dep {color: #36ae53;}
.status.es_wait_wd {color: #666;}
.status.comp_wd {color: #ff3d00;}
.status.extend a {color: #fff;background-color: #36ae53;}
.status.wait_tran {color: #ff3d00;}