@charset "utf-8";

/* 회원 가입 */
.join_form {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.join_form .require {
  color: #ff3d00;
}
.join_form .btn_wrap {
  margin-top: 40px;
}
.join_form .txt_notice {
  margin-top: 32px;
  color: #36ae53;
  text-align: center;
}
.form_group .group_title {
  margin: 40px 0 30px;
  padding-bottom: 19px;
  font-size: 18px;
  border-bottom: 2px solid #222;
}
.form_group .group_title .require_txt {
  float: right;
  line-height: 23px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.form_group .group_title .require_txt em {
  color: #ff3d00;
}
.form_group .group_wrap .group_inp {
  margin-top: 20px;
}
.form_group .group_wrap .group_inp dd {
  margin-top: 10px;
  font-weight: 500;
}
.form_group .group_wrap .group_inp .txt_message {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #999;
}
.form_group .group_wrap .group_inp .vaild_message {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
}
.form_group .group_wrap .group_inp .txt_message + .vaild_message {
  margin-top: 4px;
}
.form_group .group_wrap .group_inp .vaild_message.vaild {
  color: #36ae53;
}
.form_group .group_wrap .group_inp .vaild_message.invaild {
  color: #ff3d00;
}
.form_group .group_wrap.col2 {
  overflow: hidden;
  margin-top: -10px;
}
.form_group .group_wrap.col2 .group_inp {
  float: left;
  margin-top: 0;
  margin-left: 50px;
}
.form_group .group_wrap.col2 .group_inp:first-child {
  margin-left: 0;
}
.form_notice {
  margin-top: 58px;
}
.form_notice .txt_alert {
  position: relative;
  padding: 0 0 15px 28px;
  border-bottom: 1px solid #d8d8d8;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 500;
}
.form_notice .txt_alert::before {
  content: '';
  position: absolute;
  left: 0; top: 4px;
  width: 20px; height: 20px;
  background: url(../images/common/ico-alert.png) no-repeat 0 0;
}
.form_notice ol {
  margin-top: 24px;
  padding: 0 1.5%;
}
.form_notice ol > li {
  margin-top: 14px;
  color: #666;
}
.form_notice ol > li:first-child {
  margin-top: 0;
}
.form_notice .txt_bg {
  height: 54px;
  margin-top: 24px;
  padding-left: 1.5%;
  line-height: 55px;
  background: #fafafa;
  border-bottom: 1px solid #d8d8d8;
  color: #666;
}
.form_notice .txt_desc {
  margin-top: 15px;
  color: #666;
}
.captcha_wrap {
  margin-top: 40px;
}
.captcha_wrap .captcha_inner {
  height: 129px;
  margin-top: 10px;
  padding: 23px 21.7% 20px;
  background: #fafafa;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .join_form {
    width: 100%;
  }
}

/* 회원가입 완료 */
.join_fin_wrap {
  padding-bottom: 137px;
}
.join_fin_wrap .txt_box {
  margin-top: 80px;
  padding-bottom: 30px;
  border-bottom: 2px solid #222;
  text-align: center;
}
.join_fin_wrap .txt_box .txt_welcome {
  font-size: 36px;
  font-weight: 400;
}
.join_fin_wrap .txt_box .txt_alert {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  padding-left: 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.join_fin_wrap .txt_box .txt_alert::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 20px; height: 20px;
  background: url(../images/common/ico-alert.png)no-repeat 0 0;
}
.join_fin_wrap ol {
  margin-top: 30px;
  padding-left: 8.4%;
}
.join_fin_wrap ol > li {
  margin-top: 20px;
  font-size: 16px;
}
.join_fin_wrap ol > li:first-child {
  margin-top: 0;
}
.join_fin_wrap .txt_notice {
  margin-top: 30px;
  padding: 22.5px 9.7%; 
  background: #fafafa;
}
.join_fin_wrap .txt_notice p {
  position: relative;
  font-size: 16px;
}
.join_fin_wrap .txt_notice p::before {
  content: '';
  position: absolute;
  left: -12px; top: 50%;
  width: 4px; height: 4px;
  border-radius: 100%;
  background: #36ae53;
  transform: translateY(-50%);
}
.join_fin_wrap ul {
  margin-top: 29px;
  padding-left: 8.4%;
}
.join_fin_wrap ul > li {
  margin-top: 8px;
  color: #666;
}
.join_fin_wrap ul > li:first-child {
  margin-top: 0;
}
.join_fin_wrap .btn_wrap {
  width: 360px;
  margin: 50px auto 0;
}

@media screen and (max-width: 768px) {
  .join_fin_wrap {
    padding-bottom: 69px;
  }
  .join_fin_wrap ol {
    padding-left: 0;
  }
  .join_fin_wrap ol > li {
    line-height: 1.4;
  }
  .join_fin_wrap .txt_notice {
    padding: 22.5px 5.7%;
  }
  .join_fin_wrap ul {
    padding-left: 0;
  }
  .join_fin_wrap ul > li {
    line-height: 1.4;
  }
  .join_fin_wrap .btn_wrap {
    width: 100%;
  }
}

/* 마이페이지 */
.mypage_form {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.mypage_form .require {
  color: #ff3d00;
}
.mypage_form .btn_wrap {
  margin-top: 40px;
}
.mypage_form .txt_notice {
  margin-top: 32px;
  color: #36ae53;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .mypage_form {
    width: 100%;
  }
}