
/* 사업연혁 */
.gtp_raunching {
  padding: 10px 0 120px;
}

.gtp_raunching .inner_box {
  position: relative;
  margin-top: 20px;
  padding: 40px 0;
  border: 1px solid #d8d8d8;
}

.gtp_raunching .inner_box .thumb {
  position: absolute;
  left: 40px; top: 50%;
  width: 96px; height: 96px;
  margin-top: -48px;
}

.gtp_raunching .txt,
.gtp_raunching dl {
  padding-left: 176px;
}

.gtp_raunching .txt {
  font-size: 16px;
  font-weight: 500;
}

.gtp_raunching dl {
  margin-top: 15px;
  color: #666;
}

.gtp_raunching dt {
  font-weight: 500;
}

.gtp_raunching dd {
  position: relative;
  padding: 7px 0 0 6px;
}

.gtp_raunching dd::before {
  content: '';
  position: absolute;
  left: 0; top: 60%;
  width: 2px; height: 2px;
  background: #666;
}
.history {margin-top:58px;}
.history > ul > li {float:left;padding-left:21px;font-size: 0;}
.history > ul {margin-left:-21px;}
.history li .inner_box {border:1px solid #d8d8d8;width:306px;margin-bottom:25px;}
.history h4 {font-size: 16px; font-weight: 500; color: #222222;line-height:1.7;padding:30px 20px 0;}
.history h5 {font-size: 14px;font-weight: 500;color: #666666;margin-top:15px;padding:0 20px;}
.history ul li ul {margin-top:5px;padding:0 20px;font-size: 0;}
.history ul li ul li {font-size: 14px;color: #666666;font-size: 14px;font-weight: 400;}
.history ul li ul li:before {width: 2px; height: 2px; background-color: #666666;content: "";display: inline-block;margin-right:4px;vertical-align: middle;}
.history .photo_box {margin-top:35px;border-top:1px solid #d8d8d8;}
.history .photo_box span {width:50%;float:left;display:block;}
.history .photo_box span img {width:100%;;}

/* 서비스 faq */
.service_faq {
  margin-top: 40px;
  padding-bottom: 162px;
}
.service_faq dl {
  border-top: 1px solid #e1e1e1;
}
.service_faq dl:first-of-type {
  margin-top: 12px;
}
.service_faq dl:last-of-type {
  border-bottom: 1px solid #e1e1e1;
}
.service_faq dl dt {
  position: relative;
  padding: 21px 2% 21px 45px;
  line-height: 1;
  color: #666;
  cursor: pointer;
}
.service_faq dl dt::before {
  content: 'Q.';
  position: absolute;
  left: 20px; top: 21px;
  color: #004c7a;
}
.service_faq dl dt::after {
  content: '';
  position: absolute;
  right: 2%; top: 50%;
  transform: translateY(-50%);
  width: 9px; height: 9px;
  background: url(../../images/common/ico-plus-minus.png) no-repeat 0 0;
}
.service_faq dl dd::before {
  content: 'A.';
  position: absolute;
  left: 20px; top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #36ae53;
}
.service_faq dl dd {
  display: none;
  position: relative;
  padding: 20px 2% 20px 45px;
  color: #666;
  background: #fafafa;
}
.service_faq dl dt.on::after {
  background-position: 0 -9px;
}
.service_faq dl dd.on {
  display: block;
}
.service_faq dl dd p:first-child {
  margin-bottom: 13px;
  line-height: normal;
}
.service_faq dl dd p {
  line-height: 1.7;
}
.service_faq dl dd ol {
  counter-reset: item;
}
.service_faq dl dd ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0; top: 0;
}
.service_faq dl dd ol li {
  position: relative;
  margin-top: 8px;
  padding-left: 16px;
  line-height: 1.7;
}
.service_faq dl dd ol li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .service_faq dl dt {
    padding: 21px 6% 21px 42px;
    line-height: 1.7;
  }
  .service_faq dl dt::after {
    display: none;
  }
  .service_faq dl dd p:first-child {
    margin-top: -2px;
    margin-bottom: 10px;
    line-height: 1.7;
  }
  .service_faq dl dd ol li::before {
    position: static;
    margin-right: 4px;
  }
  .service_faq dl dd ol li {
    padding-left: 0;
  }
}

/* contact us */
.contact_wrap {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.contact_wrap .contact_form .btn_wrap {
  width: 200px;
  padding-bottom: 60px;
  margin: 40px auto 0;
}
.contact_wrap .map_box .title_map {
  margin-bottom: 30px;
  padding-bottom: 19px;
  font-size: 18px;
  border-bottom: 2px solid #222;
}
.contact_wrap .map_box .text_location {
  margin-top: 17px;
  line-height: 1.7;
}
.contact_wrap .map_box .info_box {
  overflow: hidden;
  margin-top: 57px;
}
.contact_wrap .map_box .info_box .info_item {
  float: left;
  width: calc(100% / 3);
  text-align: center;
}
.contact_wrap .map_box .info_box .info_item .info_icon {
  display: block;
  font-size: 16px;
}
.contact_wrap .map_box .info_box .info_item .info_icon::before {
  content: '';
  display: block;
  width: 50px; height: 50px;
  margin: 0 auto 18px;
  background: url(../../images/contents/ico-info.png) no-repeat;
}
.contact_wrap .map_box .info_box .info_item .info_icon.fax::before {
  background-position: 0 -50px;
}
.contact_wrap .map_box .info_box .info_item .info_icon.mail::before {
  background-position: 0 -100px;
}
.contact_wrap .map_box .info_box .info_item a {
  display: inline-block;
  margin-top: 8px;
}
.contact_wrap .map_box .tel_list {
  margin-top: 40px;
  padding-top: 26px;
  border-top: 1px solid #d8d8d8;
}
.contact_wrap .map_box .tel_list li {
  margin-top: 10px;
}
.contact_wrap .map_box .tel_list li:first-child {
  margin-top: 0;
}
.contact_wrap .map_box .tel_list li span {
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  .contact_wrap {
    width: 100%;
  }
  .contact_wrap .map_box .info_box {
    margin-top: 46px;
    padding: 0 20%;
  }
  .contact_wrap .map_box .info_box .info_item {
    position: relative;
    float: none;
    width: 100%; height: 50px;
    margin-top: 13px;
    padding-top: 7px;
  }
  .contact_wrap .map_box .info_box .info_item:first-child {
    margin-top: 0;
  }
  .contact_wrap .map_box .info_box .info_item .info_icon::before {
    position: absolute;
    left: 0; top: 0;
    margin: 0;
  }
  .contact_wrap .map_box .info_box .info_item .info_icon {
    padding-left: 70px;
    text-align: left;
  }
  .contact_wrap .map_box .info_box .info_item a {
    display: block;
    margin-top: 2px;
    padding-left: 70px;
    text-align: left;
  }
  .contact_wrap .map_box .tel_list li:last-child span {
    display: block;
    margin-left: 0;
    margin-top: 5px;
  }
}

/* user guide */
.guide_wrap {
  padding-bottom: 120px;
}
.guide_wrap .guide_item_box {
  margin-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid #d8d8d8;
}
.guide_wrap .guide_item_box .guide_item {
  overflow: hidden;
  margin-top: 60px;
}
.guide_wrap .guide_item_box .guide_item:first-child {
  margin-top: 0;
}
.guide_wrap .guide_item_box .guide_item:nth-child(even) .guide_img,
.guide_wrap .guide_item_box .guide_item:nth-child(even) .guide_txt {
  float: right;
}
.guide_wrap .guide_item_box .guide_item .guide_img {
  float: left;
  width: 50%;
  text-align: center;
}
.guide_wrap .guide_item_box .guide_item .guide_img img {
  max-width: 100%;
}
.guide_wrap .guide_item_box .guide_item .guide_txt {
  float: left;
  width: 50%;
  padding: 27px 2% 0 4.6%;
  box-sizing: border-box;
}
.guide_wrap .guide_item_box .guide_item .guide_txt .title {
  font-size: 18px;
  line-height: 1.71;
}
.guide_wrap .guide_item_box .guide_item .guide_txt > p {
  margin-top: 20px;
  line-height: 1.71;
  color: #666;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ul li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ul li {
  position: relative;
  padding-left: 8px;
  color: #666;
  line-height: 1.7;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol {
  margin-top: 20px;
  counter-reset: item;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0; top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li {
  position: relative;
  margin-top: 2px;
  padding-left: 15px;
  color: #666;
  line-height: 1.7;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li:first-child {
  margin-top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li .line_break {
  display: block;
}
.guide_wrap .txt_alert {
  margin-top: 20px;
  width: 529px;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
  .guide_wrap .txt_alert {
    width: 100%;
  }
  .guide_wrap .guide_item_box .guide_item {
    margin: 60px -4.26% 0;
  }
  .guide_wrap .guide_item_box .guide_item .guide_img,
  .guide_wrap .guide_item_box .guide_item .guide_txt {
    float: none;
    width: 100%;
  }
  .guide_wrap .guide_item_box .guide_item .guide_txt {
    padding: 27px 4.26% 0 4.26%;
  }
  .guide_wrap .guide_item_box .guide_item .guide_txt ol li .line_break {
    display: inline;
  }
}

/* 재무 */
.finance_wrap {
  margin: 40px auto 0;
  padding-bottom: 120px;
}
.finance_wrap .finance_info {
  width: 734px; 
  margin: 0 auto;
}
.finance_wrap .finance_info .chart_guide {
  overflow: hidden;
  margin-top: 32px;
}
.finance_wrap .finance_info .chart_guide .unit_txt {
  float: right;
}
.finance_wrap .finance_info .chart_guide .chart_color::before {
  content: '';
  display: inline-block;
  width: 10px; height: 10px;
  margin-right: 5px;
  border-radius: 100%;
}
.finance_wrap .finance_info .chart_guide .chart_color.blue::before {
  background: #004c7a;
}
.finance_wrap .finance_info .chart_guide .chart_color.green::before {
  background: #36ae53;
}
.finance_wrap .finance_info .chart_guide .chart_color {
  margin-left: 17px;
  color: #666;
}
.finance_wrap .finance_info .chart_guide .chart_color:first-child {
  margin-left: 0;
}
.finance_wrap .finance_info .img_box {
  margin-top: 27px;
}
.finance_wrap .finance_info .img_box img {
  max-width: 100%;
}
.finance_wrap .finance_info .img_box .mo_img {
  display: none;
}
@media screen and (max-width: 768px) {
  .finance_wrap .finance_info {
    width: 100%;
  }
  .finance_wrap .finance_info .img_box .pc_img {
    display: none;
  }
  .finance_wrap .finance_info .img_box .mo_img {
    display: block;
    margin: 0 auto;
  }
}

/* 서비스 이용 대상 */
.service_target {
  padding: 40px 0 120px;
}
.service_target .text_box {
  width: 713px;
  margin: 0 auto;
  text-align: center;
}
.service_target .text_box h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.28;
}
.service_target .text_box p {
  margin-top: 20px;
  line-height: 1.7;
}
.service_target .text_box p .mo_br {
  display: none;
}
.service_target .item_box {
  overflow: hidden;
  margin-top: 80px;
}
.service_target .item_box .item_target {
  float: left;
  width: 50%; height: 408px;
  padding: 40px 0;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  text-align: center;
}
.service_target .item_box .item_target:first-child {
  border-right: 0;
}
.service_target .item_box .item_target .title_target strong {
  display: block;
  font-size: 26px;
}
.service_target .item_box .item_target .title_target span {
  display: block;
  margin-top: 8px;
  font-size: 16px;
}
.service_target .item_box .item_target .ico_target {
  margin-top: 30px;
}
.service_target .item_box .item_target ul {
  display: inline-block;
  margin-top: 27px;
}
.service_target .item_box .item_target ul > li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.service_target .item_box .item_target ul > li {
  position: relative;
  padding-left: 8px;
  text-align: left;
  line-height: 1.7;
}
.service_target .item_box .item_target ul > li:first-child {
  margin-top: 0;
}
.service_target .cs_center {
  margin-top: 37px;
  text-align: center;
}
.service_target .cs_center strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
}
.service_target .cs_center a {
  display: inline-block;
  margin-top: 11px;
  font-size: 26px;
}
.service_target .cs_center p {
  margin-top: 13px;
  font-size: 16px;
}
.service_target .cs_center p span {
  display: inline-block;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .service_target {
    padding: 40px 0 160px;
  }
  .service_target .text_box {
    width: 100%;
  }
  .service_target .text_box h3 {
    font-size: 26px;
    line-height: 1.4;
  }
  .service_target .text_box p {
    margin-top: 25px;
  }
  .service_target .text_box p .mo_br {
    display: inline;
  }
  .service_target .item_box {
    margin-top: 46px;
  }
  .service_target .item_box .item_target {
    float: none;
    width: 100%;
  }
  .service_target .item_box .item_target:first-child {
    border-right: 1px solid #e1e1e1;
    border-bottom: 0;
  }
}
/* 회사소개 */
.company_wrap {
  padding:40px 0 100px;
}
.company_wrap .mo_br {
  display:none;
}
.section_company01 .txt_green {
  display:block;
  line-height:16px;
  letter-spacing: -0.09px;
  font-size:16px;
  text-align:center;
}
.section_company01 h3.title_section {
  margin-top:10px;
  letter-spacing: -0.2px;
  line-height:36px;
  font-size:36px;
  font-weight:400;
  text-align:center;
}
.section_company01 h3.title_section br {
  display:none;
}
.section_company01 .txt_box:before {
  content:'';
  display:block;
  width:100%;
  height:300px;
  background:url('../../images/contents/bg_section_company01.jpg') no-repeat center; 
  background-size:cover;
}
.section_company01 .txt_box {
  margin-top:40px;
  padding:0 0 100px;
}
.section_company01 .txt_box span {
  display:block;
  margin-top:40px;
  line-height:1.56;
  text-align:left;
  font-size:18px;
  font-weight:500;
}
.section_company01 .txt_box p {
  margin-top:20px;
  padding-bottom:40px;
  box-sizing:border-box;
  border-bottom:1px solid #d8d8d8;
  line-height:1.71;
  text-align:left;
  white-space: pre-line;
}
.section_company01 .txt_box h4 {
  margin-top:45px;
  font-size:18px;
  font-weight:500;
}
.section_company01 .txt_box ul {
  margin-top:20px;
}
.section_company01 .txt_box ul li {
  line-height:24px;
}
.section_company02 {
  padding-top:45px;
  position: relative;
  text-align:center;
}
.section_company02 h3:before {
  content:'';
  z-index: -1;
  display: block;
  position: absolute;
  top:0;
  width:100%;
  height:340px;
  background:url('../../images/contents/bg_section_company02.jpg') no-repeat center;
  background-size:cover;
}
.section_company02 h3 {
  color:#fff;
  line-height:36px;
  font-size:26px;
}
.section_company02 table {
  margin:89px auto 0;
  width:52.60%;
  text-align:left;
}
.section_company02 table th {
  padding:22px 0 20px 20px;
  width:31.08%;
  box-sizing: border-box;
  border-bottom:1px solid #e1e1e1;
  text-align:left;
  line-height:14px;
}
.section_company02 table td {
  padding:22px 0 20px;
  height:55px;
  box-sizing: border-box;
  border-bottom:1px solid #e1e1e1;
  line-height:14px;
}

.section_company02 table td p {
  line-height:24px;
}
.section_company02 table td span {
  display:block;
  line-height:14px;
}
.section_company02 table td span:nth-child(2) {
  margin:10px 0;
}
.section_company02 tr:first-child th,
.section_company02 tr:first-child td {
  padding-top:0;
}
.section_company02 tr:last-child th,
.section_company02 tr:last-child td {
  padding-bottom:0;
  border-bottom:none;
}

@media screen and (max-width: 768px) {
  .container_company {
    padding:0;
  }
  .company_wrap .mo_br {
    display:block;
  }
  .section_company01 {
    padding:0 4.26%;
  }
  .section_company01 h3.title_section br {
    display:block;
    line-height:46px;
  }
  .section_company01 .txt_box {
    padding:0 0 80px ;
  }
  .section_company01 .txt_box:before {
    content:'';
    display:block;
    width:100%;
    height:230px;
    background:url('../../images/contents/bg_section_company01_m.jpg') no-repeat center; 
    background-size:cover;
  }
  .section_company02 h3:before {
    height:310px;
    background:url('../../images/contents/bg_section_company02_m.jpg') no-repeat center;
    background-size:cover;
  }
  .section_company02 {
    padding-top:35px;
  }
  .section_company02 h3 {
    margin:0 auto;
    color:#fff;
    line-height:1.31;
    text-align:center;
    font-size:26px;
  }
  .section_company02 table {
    margin:75px auto 0;
    width:70.13%;
  }
  .section_company02 table th {
    display:block;
    width:100%;
    padding:21px 0 15px;
    border-bottom:none;
  }
  .section_company02 table td {
    width:100%;
    display:block;
    padding:0 0 21px;
    height:auto;
  }
  .section_company02 table td p br {
    display:none;
  }
  .section_company02 table td span:nth-child(2) {
    margin:0;
  }
  .section_company02 table td span {
    line-height:1.71;
  }
  .section_company02 tr:last-child th {
    padding:21px 0 15px;
  }
}



/* 서비스 이용약관 */
.service_terms {
  padding: 40px 0 120px;
}
.service_terms h3 {
  font-size: 26px;
  font-weight: 400;
}
.service_terms .terms_wrap {
  margin-top: 30px;
}
.service_terms .terms_wrap .item_terms {
  margin-top: 23px;
}
.service_terms .terms_wrap .item_terms:first-child {
  margin-top: 0;
}
.service_terms .terms_wrap .item_terms h4 {
  font-size: 16px;
  font-weight: 700;
  color: #666;
}
.service_terms .terms_wrap .item_terms > p {
  margin-top: 7px;
  color: #666;
}
.service_terms .terms_wrap .item_terms ol {
  margin-top: 7px;
  counter-reset: item;
}
.service_terms .terms_wrap .item_terms ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  display: table-cell;
  padding-right: 2px;
}
.service_terms .terms_wrap .item_terms ol li {
  display: table;
  margin-top: 3px;
  line-height: 1.7;
}
.service_terms .terms_wrap .item_terms ol li:first-child {
  margin-top: 0;
}

/* 서비스 수수료 */
.service_commission {
  padding: 40px 0 120px;
}
.service_commission .top_commission {
  display: table;
  width: 100%;
  padding: 0 3.125% 60px;
}
.service_commission .top_commission .left_box,
.service_commission .top_commission .right_box {
  display: table-cell;
  vertical-align: middle;
}
.service_commission .top_commission .left_box dt {
  margin-bottom: 7px;
  font-size: 26px;
  line-height: 1.4;
}
.service_commission .top_commission .left_box dd::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.service_commission .top_commission .left_box dd {
  position: relative;
  padding-left: 7px;
  line-height: 1.7;
  color: #666;
}
.service_commission .top_commission .right_box > div {
  float: left;
  margin-left: 23.7%;
  text-align: center;
}
.service_commission .top_commission .right_box > div:first-child {
  margin-left: 0;
}
.service_commission .top_commission .right_box > div img {
  max-width: 100%;
  height: 114px;
}
.service_commission .top_commission .right_box > div strong {
  display: block;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 700;
}
.service_commission .top_commission .right_box > div p {
  margin-top: 6px;
  font-size: 18px;
}
.service_commission .info_commission {
  overflow: hidden;
}
.service_commission .info_commission > div {
  float: left;
  width: 50%; height: 320px;
  padding: 40px 6.14% 0;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  text-align: center;
}
.service_commission .info_commission > div:first-child {
  border-right: 0;
}
.service_commission .info_commission .title strong {
  font-size: 18px;
  font-weight: 700;
}
.service_commission .info_commission .title p {
  margin-top: 2px;
  font-size: 18px;
}
.service_commission .info_commission ul {
  min-height: 96px;
  margin-top: 26px;
}
.service_commission .info_commission ul li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.service_commission .info_commission ul li {
  position: relative;
  padding-left: 7px;
  line-height: 1.7;
  text-align: left;
}
.service_commission .info_commission > div > p {
  font-size: 26px;
}
.service_commission .info_commission > div > span {
  display: block;
  margin-top: 4px;
  font-size: 18px;
}
.service_commission .info_list {
  margin-top: 30px;
}
.service_commission .info_list li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.service_commission .info_list li {
  position: relative;
  padding-left: 7px;
  line-height: 1.7;
  color: #666;
}

@media screen and (max-width: 768px) {
  .service_commission .top_commission {
    padding: 0 0 55px 0;
  }
  .service_commission .top_commission .left_box,
  .service_commission .top_commission .right_box {
    display: block;
  }
  .service_commission .top_commission .right_box {
    overflow: hidden;
    margin-top: 60px;
  }
  .service_commission .top_commission .right_box > div {
    width: 50%;
    margin-left: 0;
  }
  .service_commission .top_commission .right_box > div img {
    height: 90px;
  }
  .service_commission .info_commission > div {
    float: none;
    width: 100%;
  }
  .service_commission .info_commission > div:first-child {
    border-right: 1px solid #e1e1e1;
    border-bottom: 0;
  }
  .service_commission .info_commission ul {
    min-height: auto;
  }
  .service_commission .info_commission ul li {
    word-break: keep-all;
  }
  .service_commission .info_commission > div > p {
    margin-top: 30px;
  }
  .service_commission .info_list li {
    word-break: keep-all;
  }
}

/* 서비스 소개 */
.service_info {
  padding:40px 0 483px;
}
.service_info .mo_br {
  display:none;
}
.service_info .text_box  {
  text-align:center;
}
.service_info .text_box h3 {
  font-size:36px;
  line-height:1.28;
}
.service_info .text_box p { 
  line-height:1.71;
}
.service_info .text_box01 p {
  margin-top:30px;
}
.service_info .text_risk {
  display:block;
  margin-top:40px;
  line-height:1.33;
  text-align:center;
  font-size:18px;
  font-weight:700;
}
.service_info .risk_list {
  position:relative;
  margin-top:33px;
  text-align:center;
}
.risk_list > div span {
  display:block;
  line-height:normal;
  font-weight:700;
  font-size:18px;
}
.risk_list > div span.txt_blue {
  margin-top:8px;
}
.risk_list > div {
  clear:both;
  position:relative;
  margin:0 auto;
  width:27.11%; height:560px;
  line-height:46px;
}
.service_info .risk_list > div p {
  border-radius: 22px;
  color:#fafafa;
  font-size:26px;
  font-weight:400;
}
.risk_list > div h4:last-child {
  position:absolute;
  bottom:0;
  width:100%;
}
/* list border style */
.service_info .circle01:before,
.service_info .circle01:after,
.service_info .circle02:after,
.service_info .circle02:before {
  content:'';
  display:block;
  width:9px;
}
.service_info .circle01:before {
  margin:5px auto 0;
  height:42px;
  background:url('../../images/contents/arrow_green02.png') no-repeat top;
}
.service_info .circle01:after {
  margin:0 auto 5px;
  height:44px;
  background:url('../../images/contents/arrow_blue02.png') no-repeat top;
}
.service_info .bg_green {
  background:#36ae53;
}
.service_info .bg_blue {
  background:#003a60;
}
.service_info .circle02:after {
  margin:0 auto 5px;
  height:44px;
  background:url('../../images/contents/arrow_blue02.png') no-repeat top;
}
.service_info .circle02:before {
  margin:0 auto;
  height:42px;
  background:url('../../images/contents/arrow_green02.png') no-repeat top;
}
.risk_list .list_item:before {
  content:'';
  position:absolute;
  top:-26px; left:50%;
  width:80.80%; height:22px;
  border-width: 2px 2px 0 2px;
  border-color: #003a60;
  border-style: solid;
  box-sizing: border-box;
  transform:translateX(-50%);

}
.risk_list .list_item {
  position:absolute;
  top:164px;
  width:100%;
}
.risk_list .list_item:after {
  content:'';
  position:absolute;
  bottom:-26px; left:50%;
  clear:both;
  width:80.80%; height:22px;
  border-width: 0 2px 2px 2px;
  border-color: #36ae53;
  border-style: solid;
  box-sizing: border-box;
  transform:translateX(-50%);
}

.risk_list .list_item li {
  position:relative;
  float:left;
  margin-left: 8px;
  padding:78px 0 0 0;
  width: calc((100% - 34px) / 5); height: 230px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  text-align:center;
}
.risk_list .list_item li.item01:before,
.risk_list .list_item li.item05:before{
  content:'';
  position:absolute;
  top:-11px; left:50%;  
  width:9px; height:9px;
  background:url('../../images/contents/arrow_blue.png') no-repeat top;
  transform:translateX(-50%);
}
.risk_list .list_item li.item01:after,
.risk_list .list_item li.item05:after {
  content:'';
  position:absolute;
  bottom:-11px; left:50%;  
  width:9px; height:9px;
  background:url('../../images/contents/arrow_green.png') no-repeat top;
  transform:translateX(-50%);
}
.risk_list .list_item li.item01 {
  margin-left:0;
}
.risk_list .list_item li.item02:before,
.risk_list .list_item li.item02:after,
.risk_list .list_item li.item04:before,
.risk_list .list_item li.item04:after {
  content:'';
  position:absolute;
  left:50%;
  width:9px; height:25px;
  transform:translateX(-50%);
  background-position:center bottom;
}
.risk_list .list_item li.item02:before,
.risk_list .list_item li.item04:before {
  top:-27px;
  background:url('../../images/contents/arrow_blue03.png') no-repeat bottom;
}
.risk_list .list_item li.item02:after,
.risk_list .list_item li.item04:after {
  bottom:-27px;
  background:url('../../images/contents/arrow_green03.png') no-repeat bottom;
}
.risk_list .list_item li p {
  margin-top:38px;
}
.risk_list .list_item li.item03 p {
  margin-top:25px;
}
.risk_list .list_item li i {
  display:block;
  margin:0 auto;
  width:55px;
  height:50px;
  background:url('../../images/contents/ico_risk.png') no-repeat left;
}
.risk_list .list_item li.item02 i {
  background-position:-57px center;
}
.risk_list .list_item li.item03 i {
  background-position:-109px center;
}
.risk_list .list_item li.item04 i {
  background-position:-164px center;
}
.risk_list .list_item li.item05 i {
  background-position:-220px center;
}
.risk_list .list_item li.item05 .txt_red {
  position:absolute;
  top:36px; left:0;
  width:100%;
  font-weight:700;
}
.service_info .text_box02 {
  margin-top:37px;
}
.service_info .text_box02 .txt_green {
  display:block;
  line-height:1.33;
  font-weight:700;
  font-size:18px;
}
.service_info .text_box02 p {
  margin-top:10px;
  line-height:1.71;
}
@media screen and (max-width: 768px) {
  .service_info {
    padding:50px 0 103px;
  }
  .service_info .mo_br {
    display:block;
  }
  .service_info .text_risk {
    margin-top:30px;
  }
  .service_info .risk_list {
    margin-top:30px;
  }
  .risk_list > div {
    width:81.25%;
    height:1000px;
  }
  .service_info .circle01:after,
  .service_info .circle02:before,
  .risk_list .list_item:before,
  .risk_list .list_item:after {
    display:none;
  }
  
  .risk_list .list_item li {
    float:none;
    margin-left:0;
    margin-top:30px;
    padding:0 16.25% 0 17.5%;
    width:100%; height:110px;
    text-align:left;
  }
  .risk_list .list_item li:first-child {
    margin-top:0;
  }
  .risk_list .list_item li i {
    display:inline-block;
    /* margin-right:14.375%; */
    height:100%;
    vertical-align: middle;
  }

  .risk_list .list_item li > p {
    display:inline-block;
    float:right;
    margin:0;
    padding-top:45px;
    width:35.31%;
    vertical-align: middle;
  }
  .risk_list .list_item li.item:after {
    background:url('../../images/contents/arrow_blue_m.png');
    width:9px; height:30px;
    bottom:-30px; left: 57.813%;
  }
  .risk_list .list_item li.item:before {
    background:url('../../images/contents/arrow_green_m.png');
    width:9px; height:30px;
    top:110px; left:42.187%;
  }
  .risk_list .list_item li.item05:after,
  .risk_list .list_item li.item05:before {
    display:none;
  }
  .risk_list .list_item li.item03 p {
    margin:0;
    padding-top:38px;
  }
  .risk_list .list_item li.item05 .txt_red {
    position:static;
    display: inline-block;
  }
  .risk_list .list_item li.item05 div {
    float:right;
    padding-top:34px;
  }
  .risk_list .list_item li.item05 div p {
    margin-top:4px;
  }
  .service_info .text_box02 {
    margin-top:50px;
  }
  
  

}