
/* 사업연혁 */
.gtp_raunching {
  padding: 10px 0 120px;
}

.gtp_raunching .inner_box {
  position: relative;
  margin-top: 20px;
  padding: 40px 0;
  border: 1px solid #d8d8d8;
}

.gtp_raunching .inner_box .thumb {
  position: absolute;
  left: 40px; top: 50%;
  width: 96px; height: 96px;
  margin-top: -48px;
}

.gtp_raunching .txt,
.gtp_raunching dl {
  padding-left: 176px;
}

.gtp_raunching .txt {
  font-size: 16px;
  font-weight: 500;
}

.gtp_raunching dl {
  margin-top: 15px;
  color: #666;
}

.gtp_raunching dt {
  font-weight: 500;
  padding-bottom: 7px;
}

.gtp_raunching dd {
  line-height: 1.9;
}

.gtp_raunching dd::before {
  content: "";
  width: 2px; height: 2px;
  background: #666;
  display: inline-block;
  vertical-align: middle;
  margin-right:4px;
}

@media screen and (max-width: 768px) {

  .gtp_raunching .inner_box {
    width: 100%;
    height: inherit;
  }

  .gtp_raunching .inner_box .thumb {
    position: absolute;
    left: 50%; top: 40px;
    margin-top: 0;
    margin-left: -48px;
  }
  
  .gtp_raunching .txt,
  .gtp_raunching dl {
    padding-left: 30px;
    padding-right: 30px;
  }

  .gtp_raunching .txt {
    padding-top: 136px;
  }
}


.history {margin-top:58px;}
.history > ul > li {float:left;padding-left:21px;font-size: 0;}
.history > ul {margin-left:-21px;}
.history li .inner_box {border:1px solid #d8d8d8;width:306px;margin-bottom:25px;}
.history h4 {font-size: 16px; font-weight: 500; color: #222222;line-height:1.7;padding:30px 20px 0;}
.history h5 {font-size: 14px;font-weight: 500;color: #666666;margin-top:15px;padding:0 20px;}
.history ul li ul {margin-top:5px;padding:0 20px;font-size: 0;}
.history ul li ul li {font-size: 14px;color: #666666;font-size: 14px;font-weight: 400;}
.history ul li ul li:before {width: 2px; height: 2px; background-color: #666666;content: "";display: inline-block;margin-right:4px;vertical-align: middle;}
.history .photo_box {margin-top:35px;border-top:1px solid #d8d8d8;}
.history .photo_box span {width:50%;float:left;display:block;}
.history .photo_box span img {width:100%;;}

/* 서비스 faq */
.service_faq {
  margin-top: 40px;
  padding-bottom: 162px;
}
.service_faq dl {
  border-top: 1px solid #e1e1e1;
}
.service_faq dl:first-of-type {
  margin-top: 12px;
}
.service_faq dl:last-of-type {
  border-bottom: 1px solid #e1e1e1;
}
.service_faq dl dt {
  position: relative;
  padding: 21px 2% 21px 45px;
  line-height: 1;
  color: #666;
  cursor: pointer;
}
.service_faq dl dt::before {
  content: 'Q.';
  position: absolute;
  left: 20px; top: 21px;
  color: #004c7a;
}
.service_faq dl dt::after {
  content: '';
  position: absolute;
  right: 2%; top: 50%;
  transform: translateY(-50%);
  width: 9px; height: 9px;
  background: url(../../images/common/ico-plus-minus.png) no-repeat 0 0;
}
.service_faq dl dd::before {
  content: 'A.';
  position: absolute;
  left: 20px; top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #36ae53;
}
.service_faq dl dd {
  display: none;
  position: relative;
  padding: 20px 2% 20px 45px;
  color: #666;
  background: #fafafa;
}
.service_faq dl dt.on::after {
  background-position: 0 -9px;
}
.service_faq dl dd.on {
  display: block;
}
.service_faq dl dd p:first-child {
  margin-bottom: 13px;
  line-height: normal;
}
.service_faq dl dd p {
  line-height: 1.7;
}
.service_faq dl dd ol {
  counter-reset: item;
}
.service_faq dl dd ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0; top: 0;
}
.service_faq dl dd ol li {
  position: relative;
  margin-top: 8px;
  padding-left: 16px;
  line-height: 1.7;
}
.service_faq dl dd ol li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .service_faq dl dt {
    padding: 21px 6% 21px 42px;
    line-height: 1.7;
  }
  .service_faq dl dt::after {
    display: none;
  }
  .service_faq dl dd p:first-child {
    margin-top: -2px;
    margin-bottom: 10px;
    line-height: 1.7;
  }
  .service_faq dl dd ol li::before {
    position: static;
    margin-right: 4px;
  }
  .service_faq dl dd ol li {
    padding-left: 0;
  }
}

/* contact us */
.contact_wrap {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.contact_wrap .contact_form .btn_wrap {
  width: 200px;
  padding-bottom: 60px;
  margin: 40px auto 0;
}
.contact_wrap .map_box .title_map {
  margin-bottom: 30px;
  padding-bottom: 19px;
  font-size: 18px;
  border-bottom: 2px solid #222;
}
.contact_wrap .map_box .text_location {
  margin-top: 17px;
  line-height: 1.7;
}
.contact_wrap .map_box .info_box {
  overflow: hidden;
  margin-top: 57px;
}
.contact_wrap .map_box .info_box .info_item {
  float: left;
  width: calc(100% / 3);
  text-align: center;
}
.contact_wrap .map_box .info_box .info_item .info_icon {
  display: block;
  font-size: 16px;
}
.contact_wrap .map_box .info_box .info_item .info_icon::before {
  content: '';
  display: block;
  width: 50px; height: 50px;
  margin: 0 auto 18px;
  background: url(../../images/contents/ico-info.png) no-repeat;
}
.contact_wrap .map_box .info_box .info_item .info_icon.fax::before {
  background-position: 0 -50px;
}
.contact_wrap .map_box .info_box .info_item .info_icon.mail::before {
  background-position: 0 -100px;
}
.contact_wrap .map_box .info_box .info_item a {
  display: inline-block;
  margin-top: 8px;
}
.contact_wrap .map_box .tel_list {
  margin-top: 40px;
  padding-top: 26px;
  border-top: 1px solid #d8d8d8;
}
.contact_wrap .map_box .tel_list li {
  margin-top: 10px;
}
.contact_wrap .map_box .tel_list li:first-child {
  margin-top: 0;
}
.contact_wrap .map_box .tel_list li span {
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  .contact_wrap {
    width: 100%;
  }
  .contact_wrap .map_box .info_box {
    margin-top: 46px;
    padding: 0 20%;
  }
  .contact_wrap .map_box .info_box .info_item {
    position: relative;
    float: none;
    width: 100%; height: 50px;
    margin-top: 13px;
    padding-top: 7px;
  }
  .contact_wrap .map_box .info_box .info_item:first-child {
    margin-top: 0;
  }
  .contact_wrap .map_box .info_box .info_item .info_icon::before {
    position: absolute;
    left: 0; top: 0;
    margin: 0;
  }
  .contact_wrap .map_box .info_box .info_item .info_icon {
    padding-left: 70px;
    text-align: left;
  }
  .contact_wrap .map_box .info_box .info_item a {
    display: block;
    margin-top: 2px;
    padding-left: 70px;
    text-align: left;
  }
  .contact_wrap .map_box .tel_list li:last-child span {
    display: block;
    margin-left: 0;
    margin-top: 5px;
  }
}

/* user guide */
.guide_wrap {
  padding-bottom: 120px;
}
.guide_wrap .guide_item_box {
  margin-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid #d8d8d8;
}
.guide_wrap .guide_item_box .guide_item {
  overflow: hidden;
  margin-top: 60px;
}
.guide_wrap .guide_item_box .guide_item:first-child {
  margin-top: 0;
}
.guide_wrap .guide_item_box .guide_item:nth-child(even) .guide_img,
.guide_wrap .guide_item_box .guide_item:nth-child(even) .guide_txt {
  float: right;
}
.guide_wrap .guide_item_box .guide_item .guide_img {
  float: left;
  width: 50%;
  text-align: center;
}
.guide_wrap .guide_item_box .guide_item .guide_img img {
  max-width: 100%;
}
.guide_wrap .guide_item_box .guide_item .guide_txt {
  float: left;
  width: 50%;
  padding: 27px 2% 0 4.6%;
  box-sizing: border-box;
}
.guide_wrap .guide_item_box .guide_item .guide_txt .title {
  font-size: 18px;
  line-height: 1.71;
}
.guide_wrap .guide_item_box .guide_item .guide_txt > p {
  margin-top: 20px;
  line-height: 1.71;
  color: #666;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ul li::before {
  content: '-';
  position: absolute;
  left: 0; top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ul li {
  position: relative;
  padding-left: 8px;
  color: #666;
  line-height: 1.7;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol {
  margin-top: 20px;
  counter-reset: item;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0; top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li {
  position: relative;
  margin-top: 2px;
  padding-left: 15px;
  color: #666;
  line-height: 1.7;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li:first-child {
  margin-top: 0;
}
.guide_wrap .guide_item_box .guide_item .guide_txt ol li .line_break {
  display: block;
}
.guide_wrap .txt_alert {
  margin-top: 20px;
  width: 529px;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
  .guide_wrap .txt_alert {
    width: 100%;
  }
  .guide_wrap .guide_item_box .guide_item {
    margin: 60px -4.26% 0;
  }
  .guide_wrap .guide_item_box .guide_item .guide_img,
  .guide_wrap .guide_item_box .guide_item .guide_txt {
    float: none;
    width: 100%;
  }
  .guide_wrap .guide_item_box .guide_item .guide_txt {
    padding: 27px 4.26% 0 4.26%;
  }
  .guide_wrap .guide_item_box .guide_item .guide_txt ol li .line_break {
    display: inline;
  }
}

/* 재무 */
.finance_wrap {
  margin: 40px auto 0;
  padding-bottom: 120px;
}
.finance_wrap .finance_info {
  width: 734px; 
  margin: 0 auto;
}
.finance_wrap .finance_info .chart_guide {
  overflow: hidden;
  margin-top: 32px;
}
.finance_wrap .finance_info .chart_guide .unit_txt {
  float: right;
}
.finance_wrap .finance_info .chart_guide .chart_color::before {
  content: '';
  display: inline-block;
  width: 10px; height: 10px;
  margin-right: 5px;
  border-radius: 100%;
}
.finance_wrap .finance_info .chart_guide .chart_color.blue::before {
  background: #004c7a;
}
.finance_wrap .finance_info .chart_guide .chart_color.green::before {
  background: #36ae53;
}
.finance_wrap .finance_info .chart_guide .chart_color {
  margin-left: 17px;
  color: #666;
}
.finance_wrap .finance_info .chart_guide .chart_color:first-child {
  margin-left: 0;
}
.finance_wrap .finance_info .img_box {
  margin-top: 27px;
}
.finance_wrap .finance_info .img_box img {
  max-width: 100%;
}
.finance_wrap .finance_info .img_box .mo_img {
  display: none;
}
@media screen and (max-width: 768px) {
  .finance_wrap .finance_info {
    width: 100%;
  }
  .finance_wrap .finance_info .img_box .pc_img {
    display: none;
  }
  .finance_wrap .finance_info .img_box .mo_img {
    display: block;
    margin: 0 auto;
  }
}

/* 글로벌 금융네트워크 */
.txt_sub {
  color:#666;
  margin-top:14px;
}

.network_wrap {
  margin-top:40px;
}

.network_wrap ul {
  margin-left: -20px;
  margin-top: -24px;
}

.network_wrap ul .tit {
  font-size: 16px;
  font-weight: 700;
  margin:30px 0 10px 0;
}

.network_wrap ul li {
  float: left;
  padding: 30px;
  width: 306px; height: 384px; 
  border: 1px solid #d8d8d8;
  margin-left: 20px;
  margin-top: 24px;
}

.network_wrap ul li img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.network_wrap ul li p {
  color: #666;
  line-height: 24px;
}

.network_wrap ul li .addr_mail {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .network_wrap ul {
    margin-left: 0;
  }

  .network_wrap ul li {
    width: 342px; height: 384px;
    margin-left: 0;
    margin-top: 20px;
  }
}











