@charset "utf-8";

/* 에스크로 신청하기 */
.apply_form {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.apply_form .btn_wrap {
  margin-top: 40px;
}
.group_wrap .accordian_inp {
  margin-top: 7px;
}
.group_wrap .accordian_inp:first-of-type {
  margin-top: 0;
}
.group_wrap .accordian_inp .title_accordian {
  display: block;
  height: 44px;
  padding: 0 20px;
  line-height: 44px;
  font-weight: 500;
  background: #eee;
  border-bottom: 1px solid #d0d0d0;
}
.group_wrap .accordian_inp .title_accordian .text_state {
  position: relative;
  float: right;
  font-weight: 400;
}
.group_wrap .accordian_inp .title_accordian .text_state:after {
  content: '';
  display: inline-block;
  width: 9px; height: 9px;
  margin-left: 5px;
  background: url(../../images/common/ico-plus-minus.png) no-repeat 0 0;
}
.group_wrap .accordian_inp .inp_wrap {
  display: none;
  padding: 30px 4% 0;
  background: #fafafa;
}
.group_wrap .accordian_inp .inp_wrap .group_inp:first-child {
  margin-top: 0;
}
.group_wrap .accordian_inp.open .title_accordian .text_state:after {
  background-position: 0 -9px;
}
.group_wrap .accordian_inp .inp_wrap .btn_wrap {
  margin: 30px -4% 0;
}
.group_wrap .accordian_inp .inp_wrap .btn_wrap .btn span {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .apply_form {
    width: 100%;
  }
}

/* 에스크로 신청내역 */

.table_wrap.tb_type01 table tr td:nth-child(4) {
  padding-left:12px;
  text-align:left;
}

.table_wrap.tb_type01 table tr td:nth-child(5) {
  padding-left:20px;
  text-align:left;
}

/* 입금 팝업 스타일 */
.layer_popup.wait_deposit dl {
  margin-top: 20px;
}
.layer_popup.wait_deposit dl:first-child {
  margin-top: 0;
}
.layer_popup.wait_deposit dl dt {
  font-weight: 500;
}
.layer_popup.wait_deposit dl dd {
  overflow: hidden;
  margin-top: 10px;
}
.layer_popup.wait_deposit dl dd input {
  float: left;
  width: 66%;
}
.layer_popup.wait_deposit dl dd select {
  width: 33%;
  margin-left: 1%;
  background-position: 90% 50%;
}
.layer_popup.wait_deposit .btn_wrap {
  width: 205px;
  margin: 20px auto 0;
}

.layer_popup.complete_deposit .content_popup {
  padding-bottom: 40px;
  text-align: center;
}
.layer_popup.complete_deposit .content_popup strong {
  font-size: 20px;
}
.layer_popup.complete_deposit .content_popup p {
  margin-top: 5px;
}

/* 출금 팝업 스타일 */
.layer_popup.wait_withdraw .content_popup {
  padding: 60px 9.7%;
}
.layer_popup.wait_withdraw .btn_wrap .btn {
  float: left;
  width: calc(100% / 3);
}
.layer_popup.wait_withdraw .btn_wrap .btn:first-child,
.layer_popup.wait_withdraw .btn_wrap .btn:nth-child(2) {
  border-right: 0;
} 

.layer_popup.stop_deal .text_box strong {
  font-size: 20px;
}
.layer_popup.stop_deal .text_box p {
  margin-top: 10px;
  line-height: 1.4;
}
.layer_popup.stop_deal textarea {
  height: 100px;
  margin-top: 20px;
  padding: 15px 20px;
  line-height: 1.4;
  resize: none;
}
.layer_popup.stop_deal .btn_wrap {
  width: 100px;
  margin: 20px auto 0;
}


@media screen and (max-width: 768px) {
  .sort_wrap {
    margin-top:20px;
  }
  .align_left,
  .align_right {
    float:none;
    width:100%;
  }
  .align_left:after {
    content:'';
    display:block;
    clear:both;
  }
  .align_right {
    margin-top:6.5px;
  }
  .sort_wrap .input_search {
    width:calc(71.35% - 5px);
  }
  .sort_wrap select.select_sort {
    width:28.65%;
  }
  .sort_wrap input.input_sort {
    width:calc(100% - 44px);
  }
}

/* 에스크로 신청내역 view */
.escrow_view {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.escrow_view .con_box {
  margin-top: 40px;
}
.escrow_view .con_box h3 {
  margin-bottom:30px;
  padding-bottom:10px;
  border-bottom:2px solid #222;
  font-size:18px;
  font-weight:500;
}
.escrow_view .con_box table {
  width:100%;
}
.escrow_view .con_box tbody tr:first-child th,
.escrow_view .con_box tbody tr:first-child td {
  border-top:1px solid #e1e1e1;
}
.escrow_view .con_box th,
.escrow_view .con_box td {
  padding: 18px 4% 17px;
  border-right:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  text-align:left;
  vertical-align: middle;
}
.escrow_view .con_box th {
  width:31%;
  background-color:#eee;
  border-left:1px solid #e1e1e1;
  font-weight:500;
}
.escrow_view .con_box td {
  color:#666;
}
.escrow_view .con_box .last_txt td {
  line-height: 1.6;
}
.escrow_view .btn_wrap {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .escrow_view {
    width: 100%;
  }
  .escrow_view .con_box th {
    width: 37%;
  }
}
/* 상태 버튼 및 표시 */
.status {
  display: inline-block;
  line-height: 40px;
  text-align:center;
  width:145px;
}
.status a {
  display: block;
  line-height: 40px;
  text-decoration: none;
}

.status.wait_appro {color: #666;}
.status.es_wait_dep a{color: #fff;background-color: #999;}
.status.es_comp_dep {color: #36ae53;}
.status.es_wait_wd {color: #666;}
.status.comp_wd {color: #ff3d00;}
.status.extend a {color: #fff;background-color: #36ae53;}
.status.wait_tran {color: #ff3d00;}