@charset "utf-8";

/* 에스크로 신청내역 */

.sort_wrap {
    margin-top:40px;
}

.sort_wrap:after {
    content:'';
    display:block;
    clear:both;
}

.align_left {
    float:left;
}
.align_left li {
    float:left;
    position:relative;
    padding:0 10px;
}

.align_left li:before {
    content:'';
    position:absolute;
    top:50%;
    right:0;
    margin-top:-6px;
    width:1px;
    height:12px;
    background-color:#d4d4d4;
}

.align_left li:last-child:before {
    display:none;
}

.align_left li:first-child {
    padding-left:0;
}

.align_left li:last-child {
    padding-right:0;
}
.tab_active a {
    color:#36ae53;
}

.align_right {
    float:right;
}

select.es_sl {
    float:left;
    width:100px;
    vertical-align: middle;
}

input.es_ip {
    float:left;
    margin-left:5px;
    width:200px;
    vertical-align: middle;
}

.btn_search {
    width:44px;
    height:44px;
    color:transparent;
    background:#666 url('../../images/common/btn_search.png') no-repeat center;
    background-size:16px;
}



.escrow_tb {
    margin-top:12px;
    width:100%;
}

.escrow_tb thead {
    background-color:#eee;
    border:1px solid #e1e1e1;
}

.escrow_tb th {
    position:relative;
    height:55px;
    font-weight:500;
    box-sizing:border-box;
    line-height:55px;
}

.escrow_tb th:before {
    content:'';
    position:absolute;
    top:50%;
    right:0;
    margin-top:-7.5px;
    width:1px;
    height:15px;
    background-color:#d4d4d4;
}

.escrow_tb th:last-child:before {
    display:none;
}

.escrow_tb td {
    height:55px;
    box-sizing:border-box;
    line-height:55px;
    border-bottom:1px solid #e1e1e1;
    text-align:center;
}

.escrow_tb tr td:nth-child(4) {
    padding-left:12px;
    text-align:left;
}

.escrow_tb tr td:nth-child(5) {
    padding-left:20px;
    text-align:left;
}

.escrow_tb td.gray_bg {
    padding:8px 20px;
    box-sizing:border-box;
    line-height:normal;
}

.escrow_tb .gray_bg a {
    display:block;
    color:#fff;
    background-color:#999;
    line-height:40px;
}

.more_btn {
    margin:30px auto 120px; 
    width:150px;
    height:50px;
    text-align:center;
}

.more_btn a {
    display:block;
    line-height:50px;
}

.white_btn {
    background-color:#fff;
    border:1px solid #999;
}

.white_btn a {
    color:#222;
    font-weight:500;
}

/* 에스크로 신청내역 view */

.con_box {
    margin:40px auto 0;
    width:505px;

}

.con_box h3 {
    margin-bottom:30px;
    padding-bottom:10px;
    border-bottom:2px solid #222;
    font-size:18px;
    font-weight:500;
}

.con_box table {
    width:100%;
}

.con_box tbody tr:first-child th,
.con_box tbody tr:first-child td {
    border-top:1px solid #e1e1e1;
}

.con_box th,
.con_box td {
    padding-left:20px;
    border-right:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
    line-height:55px;
}

.con_box th {
    width:30.69%;
    padding-left:20px;
    background-color:#eee;
    border-left:1px solid #e1e1e1;
    color:#222;
    text-align:left;
    font-weight:500;
}
.con_box td {
    padding-right:20px;
    color:#666;
    font-weight:400;
}

.last_txt td {
    padding:18px 20px 99px;
    line-height:normal;
}

.escrow_file_list li {
    margin-top:20px;
}

.escrow_file_list .file_link02 {
    margin-top:7px;
}

.escrow_link a {
    display:block;
    width:100%;
    padding:0 20px;
    box-sizing:border-box;
    background-color:#eee;
    border-bottom:1px solid #d0d0d0;
    line-height:44px;
    font-weight:500;
}
.escrow_link a:after {
    content:'';
    display:block;
    clear:both;
}

.escrow_link a span {
    display:inline-block;
    float:right;
    font-weight:400;
}

.escrow_file_list label {
    color:#222;
    font-weight:500;
}

.payment_box td {
    font-weight:400;
}

.payment_box span {
    color:#36ae53;
    font-weight:500;
}


