@charset "utf-8";

/* 에스크로 신청내역 */


.sort_wrap {
  margin-top:40px;
}
.sort_wrap:after {
  content:'';
  display:block;
  clear:both;
}
.align_left {
  float:left;
  margin-top:11px;
}
.align_left li {
  float:left;
  position:relative;
  padding:0 10px;
}
.align_left li:before {
  content:'';
  position:absolute;
  top:50%;
  right:0;
  margin-top:-6px;
  width:1px;
  height:12px;
  background-color:#d4d4d4;
}
.align_left li:last-child:before {
  display:none;
}
.align_left li:first-child {
  padding-left:0;
}
.align_left li:last-child {
  padding-right:0;
}
.tab_active a {
  color:#36ae53;
}

.align_right {
  float:right;
}

.sort_wrap select.select_sort {
  float:left;
  width:100px;
  vertical-align: middle;
}

.sort_wrap .input_search {
  float:left;
  margin-left:5px;
}

.sort_wrap input.input_sort {  
  float:left;
  width: calc(100% - 44px);
  vertical-align: middle;
}

.sort_wrap .btn_search {
  float:left;
  width:44px;
  height:44px;
  color:transparent;
  background:#666 url('../../images/common/btn_search.png') no-repeat center;
  background-size:16px;
  vertical-align: middle;
}

.table_wrap {
  padding-top:12px;
}

.tb_escrow {
  width:100%;
}

.tb_escrow thead {
  background-color:#eee;
  border:1px solid #e1e1e1;
}

.tb_escrow th {
  position:relative;
  height:55px;
  font-weight:500;
  box-sizing:border-box;
  line-height:55px;
}

.tb_escrow th:before {
  content:'';
  position:absolute;
  top:50%;
  right:0;
  margin-top:-7.5px;
  width:1px;
  height:15px;
  background-color:#d4d4d4;
}

.tb_escrow th:last-child:before {
  display:none;
}

.tb_escrow tr > td {
  box-sizing:border-box;
  line-height:55px;
  border-bottom:1px solid #e1e1e1;
  text-align:center;
}

.tb_escrow tr td:nth-child(4) {
  padding-left:12px;
  text-align:left;
}

.tb_escrow tr td:nth-child(5) {
  padding-left:20px;
  text-align:left;
}

.btn_waiting {
  padding:8px 20px;
  box-sizing:border-box;
  line-height:normal;
}

.btn_waiting a {
  display:block;
  color:#fff;
  background-color:#999;
  line-height:40px;
}

/* 팝업 */
.escrow_pop01 .content_pop {
  padding:40px 30px 30px; 
  box-sizing: border-box;
}

.escrow_pop01 .content_pop dt {
  display:block;
  font-weight:500;
  color:#222;    
  text-align:left;
  line-height:20px;
}

.pop_content01 {
  margin-top:10px;
}

.pop_content01:after {
  content:'';
  display:block;
  clear:both;
}

.escrow_pop01 input {
  float:left;
  width:200px;
  line-height:44px;
  vertical-align: middle;
}
.escrow_pop01 select {
  float:left;
  margin-left:5px;
  width:103px;
  line-height:44px;
  vertical-align: middle;
}
.pop_sub_title {
  margin-top:20px;
}

.escrow_pop01 .pop_content02 {
  margin-top:10px;
  text-align:left;
  color:#666;
  line-height:20px;
}

.escrow_list .escrow_pop01 .btn_wrap {
  margin-top:20px;
  width:auto;
  line-height:normal;
}
.escrow_list .escrow_pop01 .btn_wrap a {
  vertical-align: middle;

}
.escrow_pop02 .content_pop {
  padding:40px 93px;
}
.escrow_pop02 .content_pop p {
  color:#222;
  font-size:20px;
  font-weight:500;
  line-height:normal;
}
.escrow_pop02 .content_pop span {
  color:#666;
  font-size:15px;
}
.escrow_pop03 .content_pop {
  padding:60px 34px;
}
.escrow_pop03 .content_pop ul:after {
  content:'';
  display:block;
  clear:both;
}

.escrow_pop03 .content_pop li {
  float:left;
}
.escrow_pop03 .content_pop .point_white {
  border-right:none;
}
.escrow_pop04 .content_pop {
  padding:40px 30px 30px;
  text-align:left;
}
.escrow_pop04 .content_pop p {
  color:#222;
  font-size:20px;
  font-weight:500;
  line-height:1;
}
.escrow_pop04 .content_pop > span {
  display:block;
  margin-top:10px;
  color:#666;
  line-height:normal;
}
.escrow_pop04 .content_pop textarea {
  margin:20px 0 16px;
  padding:15px 20px;
  height:100px;
  border:1px solid #e1e1e1;
}
.escrow_pop04 .content_pop textarea::placeholder {
  color:999;
}


@media screen and (max-width: 768px) {
  .sort_wrap {
    margin-top:20px;
  }
  .align_left,
  .align_right {
    float:none;
    width:100%;
  }
  .align_left:after {
    content:'';
    display:block;
    clear:both;
  }
  .align_right {
    margin-top:6.5px;
  }
  .sort_wrap .input_search {
    width:calc(71.35% - 5px);
  }
  .sort_wrap select.select_sort {
    width:28.65%;
  }
  .sort_wrap input.input_sort {
    width:calc(100% - 44px);
  }
  .table_wrap {
    padding-top:6px;
  }
  .tb_escrow {
    width:900px;
    overflow:scroll;
  }
}

/* 에스크로 신청내역 view */

.con_box {
  margin:40px auto 0;
  width:505px;
}
.con_box h3 {
  margin-bottom:30px;
  padding-bottom:10px;
  border-bottom:2px solid #222;
  font-size:18px;
  font-weight:500;
}
.con_box table {
  width:100%;
}
.con_box tbody tr:first-child th,
.con_box tbody tr:first-child td {
    border-top:1px solid #e1e1e1;
}
.con_box th,
.con_box td {
  padding-left:20px;
  border-right:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  line-height:55px;
}
.con_box th {
  width:30.69%;
  padding-left:20px;
  background-color:#eee;
  border-left:1px solid #e1e1e1;
  color:#222;
  text-align:left;
  font-weight:500;
}
.con_box td {
  padding-right:20px;
  color:#666;
  font-weight:400;
}

.last_txt td {
  padding:18px 20px 99px;
  line-height:normal;
}

.escrow_file_list li {
  margin-top:20px;
}
.escrow_file_list .file_link02 {
  margin-top:7px;
}
.escrow_link a {
  display:block;
  width:100%;
  padding:0 20px;
  box-sizing:border-box;
  background-color:#eee;
  border-bottom:1px solid #d0d0d0;
  line-height:44px;
  font-weight:500;
}
.escrow_link a:after {
  content:'';
  display:block;
  clear:both;
}
.escrow_link a span {
  display:inline-block;
  float:right;
  font-weight:400;
}
.escrow_file_list label {
  color:#222;
  font-weight:500;
}
.payment_box td {
  font-weight:400;
}
.payment_box span {
  color:#36ae53;
  font-weight:500;
}

.status {
  display: inline-block;
  line-height: 40px;
  text-align:center;
  width:145px;
}
.status a {
  display: block;
  line-height: 40px;
  text-decoration: none;
}

.status.wait_appro {color: #666;}
.status.es_wait_dep a{color: #fff;background-color: #999;}
.status.es_comp_dep {color: #36ae53;}
.status.es_wait_wd {color: #666;}
.status.comp_wd {color: #ff3d00;}
.status.extend a {color: #fff;background-color: #36ae53;}
.status.wait_tran {color: #ff3d00;}