@charset "utf-8";

/* 에스크로 신청하기 */
.apply_form {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.apply_form .btn_wrap {
  margin-top: 40px;
}
.group_wrap .accordian_inp {
  margin-top: 7px;
}
.group_wrap .accordian_inp:first-of-type {
  margin-top: 0;
}
.group_wrap .accordian_inp .title_accordian {
  display: block;
  height: 44px;
  padding: 0 20px;
  line-height: 44px;
  font-weight: 500;
  background: #eee;
  border-bottom: 1px solid #d0d0d0;
}
.group_wrap .accordian_inp .title_accordian .text_state {
  position: relative;
  float: right;
  font-weight: 400;
}
.group_wrap .accordian_inp .title_accordian .text_state:after {
  content: '';
  display: inline-block;
  width: 9px; height: 9px;
  margin-left: 5px;
  background: url(../../images/common/ico-plus-minus.png) no-repeat 0 0;
}
.group_wrap .accordian_inp .inp_wrap {
  display: none;
  padding: 30px 4% 0;
  background: #fafafa;
}
.group_wrap .accordian_inp .inp_wrap .group_inp:first-child {
  margin-top: 0;
}
.group_wrap .accordian_inp.open .title_accordian .text_state:after {
  background-position: 0 -9px;
}
.group_wrap .accordian_inp .inp_wrap .btn_wrap {
  margin: 30px -4% 0;
}
.group_wrap .accordian_inp .inp_wrap .btn_wrap .btn span {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .apply_form {
    width: 100%;
  }
}