@charset "utf-8";

/* 자료실 리스트 */
.sort_data.sort_wrap .input_search {
  margin-left:0;
}
.table_wrap.tb_type02 table tr td:nth-child(2) {
  padding-left:4%;
  text-align:left;
}
.data_list .btn_wrap .btn_more {
 margin:30px auto 693px;
}

/* 게시글 보기 페이지 */
.board_detail {
  text-align:center;  
}
.board_detail:after {
  content:'';
  display:block;
  clear:both;
}
.board_detail h3 {
  margin:40px 0 20px;
  font-size:18px;
  line-height:16px;
}
.board_info {
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
}
.board_info:after {
  content:'';
  display:block;
  clear:both;
}
.board_detail dl {
  float:left;
  width:33.33%;
}
.board_detail dl dt,
.board_detail dl dd {
  float:left;
  line-height:55px;
}
.board_detail dl dt {
  width:39.81%;
  background:#eee;
  font-weight:500;
}
.board_detail dl dd {
  box-sizing: border-box;
  color:#666;
  text-align:left;
}
.board_detail.tb_type03 dl dd {
  padding-left:9.4%;
  width:calc(100% - 39.81%);
}
.board_detail dl dd a {
  text-decoration:underline;
}
.board_detail.tb_type03 .tb_item04 {
  width:100%;
  border-top:1px solid #e1e1e1;
}
.board_detail.tb_type03 .tb_item04 dt {
  width:13.24%;
  border-top:none;
}
.board_detail.tb_type03 .tb_item04 dd {
  padding-left:3%;
  border-top:none;
  width:calc(100% - 13.24%);
}

.board_detail .content_box {
  clear:both;
  padding:20px 37px;
  min-height:262px;
  border-bottom:1px solid #e1e1e1;
  text-align:left;
}
.board_detail .content_box span {
  color:#666;
}
.btn_move {
  margin-bottom:479px;
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
}
.btn_move div {  
  line-height:55px;
  text-align:left;
}
.btn_move div:first-child {
  border-bottom:1px solid #e1e1e1;
}
.btn_move div strong {
  margin-right:3.82%;
  font-weight:500;
}
.btn_move div a {
  position:relative;
  display:block;
  padding:0 2.29%;
  width:100%;
}
.btn_move div a:after {
  content:'';
  position: absolute;
  right:2.29%;
  top:50%;
  margin-top:-4px;
  width:12px;
  height:8px;
  background:url('../../images/contents/arr_bottom.png') no-repeat right;
}
.btn_move div:first-child a:after {
  transform: rotate(180deg)
}

@media screen and (max-width: 768px) {
  /* 자료실 리스트 */
  .sort_wrap .input_search {
    width:100%;  
  }
  .table_wrap.tb_type02 {
    overflow-x:inherit;
  }
  .table_wrap.tb_type02 table {
    width:100%;
  }
  .data_list .btn_wrap .btn_more {
    margin:30px auto 0;
  }

  /* 게시글 보기페이지 */
  .board_info {
    position:relative;
    overflow:hidden;
  }
  .board_info dl.tb_item01 {
    width:57.06%;
  }
  .board_info dl.tb_item02 {
    width:100%;
    border-top:1px solid #e1e1e1;
  }
  .board_info dl.tb_item03 {
    float:none;
    position:absolute;
    top:0;
    right:0;
    width:42.94%; 
  }
  .board_detail.tb_type03 .tb_item01 dt {
    width:41.46%;
  }
  .board_detail.tb_type03 .tb_item01 dd {
    width:calc(100% - 41.46%);
    padding-left:10%;
  }
  .board_detail.tb_type03 .tb_item02 dt,
  .board_detail.tb_type03 .tb_item02 dd {
    border-top:none;
  }
  .board_detail.tb_type03 .tb_item02 dt,
  .board_detail.tb_type03 .tb_item04 dt {
    width:23.66%;
  }
  .board_detail.tb_type03 .tb_item02 dd,
  .board_detail.tb_type03 .tb_item04 dd {
    padding-left:6%;
    width:calc(100% - 23.66%);
  }
  .board_detail.tb_type03 .tb_item03 dt {
    width:55.59%;
  }
  .board_detail.tb_type03 .tb_item03 dd {
    width:calc(100% - 55.59%);
  }
  .board_info .content_box {
    padding:18px 20px;
    min-height:180px;
  }
  .btn_wrap .btn_more {
    margin:30px auto 80px;
  }
  .btn_move {
    margin-bottom:102px;
  }
  .btn_move div a {
    padding:0 5.53%;
  }
  .btn_move div a:after {
    right:5.53%;
  }
  .btn_move div strong {
    margin-right:8.74%;
  }
}