@charset "utf-8";

.sort_data.sort_wrap .input_search {
  margin-left:0;
}
.tb_data tr td:nth-child(2) {
  padding-left:4%;
  text-align:left;
}
.data_list .btn_wrap .btn_more {
  
}
@media screen and (max-width: 768px) {

}