@charset "utf-8";

.login_wrap {
  width: 360px;
  margin: 0 auto;
  padding-bottom: 160px;
}
.login_wrap .group_wrap {
  margin-top: 50px;
}
.login_wrap .group_wrap .group_inp {
  margin-top: 10px;
}
.login_wrap .group_wrap .group_inp:first-child {
  margin-top: 0;
}
.login_wrap .group_wrap .group_inp:first-child input {
  border-color: #36ae53;
}
.login_wrap .group_wrap .group_inp.chk_inp_box {
  margin-top: 18px;
}
.login_wrap .group_wrap .group_inp.chk_inp_box .txt_label {
  margin-left: 8px;
  color: #666;
}
.login_wrap .group_wrap .btn_wrap {
  margin-top: 46px;
}
.login_wrap .forgot_wrap {
  overflow: hidden;
  position: relative;
  left: 50%;
  display: inline-block;
  margin-top: 30px;
  transform: translateX(-50%);
}
.login_wrap .forgot_wrap a {
  float: left;
  margin-left: 14px;
  padding-left: 14px;
  border-left: 1px solid #e1e1e1;
  font-size: 12px;
  font-weight: 500;
  color: #666;
}
.login_wrap .forgot_wrap .join_link {
  color: #36ae53;
}
.login_wrap .forgot_wrap a:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}

@media screen and (max-width: 768px) {
  .login_wrap {
    width: 100%;
    padding-bottom: 69px;
  }
}