@charset "utf-8";

/* 메인 페이지 */

.main.container {
  max-width:100%;
}
.main .visual_wrap {
  position:relative;
  background:url('../../images/main/img_visual01.png') no-repeat center;
  background-size:cover;
}
.main .visual_wrap .text_state {
  padding:162px 0 178px;
  box-sizing:border-box;
  text-align:center;
}
.main .visual_wrap .text_state h2 {
  color:#fff;
  font-size:38px;
  font-weight:500;
}
.main .visual_wrap .text_state span {
  position:relative;
  margin-top:30px;
  color:#fff;
  font-size:16px;
  font-weight:700;
}
.main .visual_wrap .text_state span:after {
  content:'';
  position:absolute;
  right:50%;
  bottom:-12px;
  width:26px;
  height:2px;
  margin-left:-13px;
  background:#36ae53;
}
.main .visual_wrap .text_state span + p {
  margin-top:22px;
}
.main .visual_wrap .text_state p {
  color:#fff;
  line-height:1.71;
}
.main .btn_main.btn_wrap {
  position:absolute;
  width:636px;
  bottom:-35px;
  left:50%;
  transform:translateX(-50%);
}
.main .btn_main.btn_wrap:after {
  content:'';
  display:block;
  clear:both;
}
.main .btn_main.btn_wrap .btn {
  float:left;
  width:50%;
  padding:0 48px;
  height:70px;
  box-sizing:border-box;
  background-image:url('../../images/main/ico_right.png');
  background-repeat: no-repeat;
  background-size:18px 14px;
  background-position:254px center;
  text-align:left;
  line-height:70px;
}
.main.container section {
  margin:0 auto;
  padding-bottom:100px;
  max-width:1280px;
  text-align:center;
}
.main.container section h2 {
  font-size:32px;
  font-weight:500;
  line-height:1;
}
.main.container section .txt_sub {
  margin-top:14px;
  color:#666;
  line-height:1;
}
.section_main01 {
  padding-top:135px;
}
.section_main01:after {
  background:;
}
.section_main01 .list_deal {
  margin:50px auto 0;
  max-width:957px;
}
.section_main01 .list_deal:after {
  content:'';
  display:block;
  clear:both;
}
.section_main01 .list_deal li {
  float:left;
  width: 20%;
}
.section_main01 .list_deal li div {
  position:relative;
  margin:0 4px;
  padding:140px 37px 0 30px;
  box-sizing:border-box;
  height:230px;
  border:1px solid #e1e1e1;
  text-align:left;
}
.section_main01 .list_deal li:first-child div {
  margin-left:0;
}
.section_main01 .list_deal li:last-child div {
  margin-right:0;
}
.section_main01 .list_deal li div:after {
  content:'';
  position:absolute;
  top:79px;
  height:41px;
  background:url('../../images/main/ico_deal.png') no-repeat;
}
.section_main01 .list_deal li:first-child div:after {
  width:33px;
  background-position:-1px 0;
}
.section_main01 .list_deal li:nth-child(2) div:after {
  width:51px;
  background-position:-35px 0;
}
.section_main01 .list_deal li:nth-child(3) div:after {
  width:42px;
  background-position:-88px 0;
}
.section_main01 .list_deal li:nth-child(4) div:after {
  width:44px;
  background-position:-132px 0;  
}
.section_main01 .list_deal li:last-child div:after {
  width:41px;
  background-position:-178px 0;
}
.section_main01 .list_deal li span {
  position:absolute;
  top:20px;
  right:20px;
  color:#36ae53;
  font-size:24px;
}
.section_main01 .text_main01 {
  margin:0 auto;
  clear:both;
  padding:26px 0 0;
  width:957px;
}
.section_main01 .text_main01 p {
  position:relative;
  margin-left:41.06%;
  width:364px;
  text-indent:11px;
  color:#fff;
  line-height:48px;
  border-radius:25px;
  background-image:url('../../images/main/ico_lock.png');
  background-repeat:no-repeat;
  background-position:25px;
  font-size:16px;
}
.section_main01 .text_main01 p:before {
  content:'';
  position:absolute;
  top:-30px;
  left:-112px;
  width:587px;
  height:53px;
  background:url('../../images/main/border_deal.png') no-repeat;
}

.section_main02  {
  background:url('../../images/main/bg_section02.png') no-repeat;
}
.section_main02 .img_company {
  margin-top:60px;
  width:56.64%;
}
.section_main02 .btn_wrap {
  margin:50px auto 0;
  width:250px;
}
.section_main03 {
  background:url('../../images/main/bg_section03.png') no-repeat;
}
.section_main03 .img_company {
  margin-top:50px;
  width:58.35%;
}
.section_main03 .btn_wrap {
  margin:56px auto 0;
  width:250px;
}
.section_main02,
.section_main03 {
  padding-top:220px;
  background-size:100%;
}

.main.container .section_main04 {
  padding:45px 0;
  max-width:100%;
  background:rgba(216,216,216,0.34);
}
.section_main04 .img_logo {
  display:block;
  margin:0 auto;
  width:162px;
  height:35px;
}
.section_main04 b {
  font-size:26px;
  font-weight:500;
  line-height:32px;
}
.section_main04 p {
  margin-top:16px;
  color:#666;
  line-height:24px;
}
.section_main04 .btn_wrap {
  margin:40px auto 0;
  width:250px;
}


