@charset "utf-8";

@import url(./adm_reset.css);

/* font */
@font-face {
  font-family:'notokr';font-weight:700; font-style:normal; src:url('../font/notokr-bold.eot'); src:url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
  url('../font/notokr-bold.woff2') format('woff2'),
  url('../font/notokr-bold.woff') format('woff'),
  url('../font/notokr-bold.ttf') format('truetype'),
  url('../font/notokr-bold.svg#notokr-medium') format('svg');
}

@font-face {font-family:'notokr'; font-weight:500; font-style:normal; src:url('../font/notokr-medium.eot'); src:url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
  url('../font/notokr-medium.woff2') format('woff2'),
  url('../font/notokr-medium.woff') format('woff'),
  url('../font/notokr-medium.ttf') format('truetype'),
  url('../font/notokr-medium.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:400; font-style:normal; src:url('../font/notokr-regular.eot'); src:url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/notokr-regular.woff2') format('woff2'),
  url('../font/notokr-regular.woff') format('woff'),
  url('../font/notokr-regular.ttf') format('truetype'),
  url('../font/notokr-regular.svg#notokr-regular') format('svg');}


body {
  font-family: 'notokr';
  font-size: 14px;
  color: #222;
  background: #fff;
}
body.open {
  overflow: hidden;
}
a {
  color: #222;
  text-decoration: none;
}

.blind{
  overflow:hidden;
  position:absolute;
  top:0; left:0;
  width:1px !important; height:1px !important;
  font-size:0; line-height:0 !important;
}

/* bold text */
h1,h2,h3,h4,h5,h6,strong {
  font-weight: 500;
}
#wrap {padding-bottom:186px;position: relative;}
html, body, #wrap{min-height: 100%;}
/* header */
#header {
  position: relative;
  height: 105px;
  background: #fafafa;
  box-sizing: border-box;
  text-align:center
}


#header .header_inner {height:60px;background: #01426a;padding:0 40px;}
#header .logo {float: left; width: 119px; padding-top:16px;}
#header .logo img {width: 100%;}
#header .gnb {text-align: center; display: inline-block;}
#header .gnb li {float: left;}
#header .gnb li:first-child {margin-left: 0;}
#header .gnb > li > a {font-size: 14px; color: #fff; font-weight:500; line-height: 60px; display: block; padding:0 25px;}
#header .gnb  li.active > a,
#header .gnb > li > a:hover {color: #3cb95d;}

#header .snb {position: absolute;top:60px;display: none;left: 50%;transform: translateX(-50%);}
#header .gnb  li.active .snb {display: block;}
#header .snb > li > a {font-size: 14px; color: #000; font-weight:500; line-height: 45px; display: block; padding:0 15px;}
#header .snb  li.active > a,
#header .snb > li > a:hover {color: #3cb95d;}

#header .gnb  li.active .snb {display: block;}

#header .my_box {float: right;}
#header .my_box .login_box {position: relative; float: left;}
#header .my_box .login_box .btn_login {display: block; font-size: 13px; color: #fff; white-space: nowrap; line-height:60px;}
#header .my_box .login_box .btn_login:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 5px;
  margin-left:10px;
  background: url(../images/common/ico-login.png) no-repeat 0 0;
}

#header .my_box .login_box .btn_login.logout {background-position: 0 -20px;}
#header .my_box .login_box .login_layer::before {
  content: '';
  position: absolute;
  left: 50%; top: -7.5px;
  width: 15px; height: 15px;
  border: 1px solid #e1e1e1;
  background: #fff;
  transform: translateX(-50%) rotate(45deg);
  z-index: 5;
}
#header .my_box .login_box .login_layer {
  position: absolute;
  left: -8px; top: 60px;
  border: 1px solid #e1e1e1;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
  width: 105px;
}
#header .my_box .login_box .login_layer .btn_wrap {
  position: relative;
  padding:2px 0;
  background: #fff;
  box-sizing: border-box;
  z-index: 15;
  margin:0;
}
#header .my_box .login_box .login_layer .btn_wrap a {
  display: block;
  font-size: 13px;
  color: #000;
  white-space: nowrap;
  border-top:1px solid #e1e1e1;
  height:29px;
  line-height:29px;
  font-weight:400;
}
#header .my_box .login_box .login_layer .btn_wrap span {
  display: block;
  font-size: 13px;
  color: #666;
  padding:12px 0 12px 15px;
  text-align: left;
  font-weight:400;
}
#header .my_box .login_box .login_layer .btn_wrap a:first-child {
  margin-top: 0;
}
#header .my_box .login_box .login_layer.open {
  opacity: 1;
  visibility: visible;
}



/* footer */
#footer {
  position: absolute;
  bottom: 0;
  background: #fafafa;
  height: 186px;
  padding:40px 0;
  width:100%;
}
#footer .footer_inner {
  width:960px;
  margin: 0 auto;
}
#footer .foot_title {
  font-size: 18px;
  font-weight: 700;
  color: #666;
}
#footer .foot_title span {
  color: #36ae53;
}
#footer .foot_desc {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.58;
  color: #666;
}
#footer .foot_cpr {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.58;
  color: #8f9194;
}
#footer .foot_logo {
  position: absolute;
  right: 15%; top: 40px;
  max-width: 73px;
  text-align: center;
}
#footer .foot_logo p {
  margin-top: 6px;
  font-size: 12px;
  line-height: 1.33;
  color: #666;
}



/* content */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.page_title {
  padding: 40px 0 47px 0;
  text-align: center;
}
.page_title02 {
  padding: 50px 0 34px 0;
  text-align: center;
}
.page_title .txt_title {
  font-size: 26px;
}
.page_title02 .txt_title {
  font-size: 32px;
}
.page_title .txt_desc {
  margin-top: 16px;
  line-height: 1.4;
  color: #999;
}
.page_title .btn_wrap {
  width: 200px;
  margin: 25px auto 0;
}

/* input */
input {
  width: 100%; height: 44px;
  padding: 0 20px;
  font-family: 'notokr';
  font-size: 14px;
  line-height: 44px;
  color: #666;
  background: #fff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}
input:disabled {
  background: #f9f9f9;
}
input::placeholder {
  color: #999;
}
.input_with_btn {
  float: left;
  width: 60%;
}
.btn.add {
    width: 35px;
    height: 30px;
    background: #333;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    vertical-align: top;
    font-size: 0;
    position: relative;
    display: inline-block;
    border: 0;
}
.btn.del {
    width: 35px;
    height: 30px;
    background: #ddd;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    vertical-align: top;
    font-size: 0;
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

input[type="text"].id_vaild {
  padding-right: 46px;
  background: url(../images/common/ico-vaild.png) no-repeat 94.5% 50%;
}

.file_inp_box .file_inp {
  position: absolute;
  width: 1px; height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.file_inp_box label {
  display: inline-block;
  width: 21.8%; height: 44px;
  margin-left: 1%;
  background: #999;
  line-height: 44px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.file_inp_box .has_target {
  background: #f9f9f9;
  cursor: pointer;
}
.file_inp_box .has_target:hover,
.file_inp_box .has_target:focus {
  text-decoration: underline;
}
.file_inp_box .btn_delete {
  width: 21.8%;
  margin-left: 1%;
}
.file_inp_box .hide {
  display: none;
}

.chk_inp_box {
  overflow: hidden;
}
.chk_inp_box .chk_inp {
  float: left;
}
.chk_inp_box .txt_label {
  margin-left: 10px;
  line-height: 22px;
}
.chk_inp input[type="checkbox"] {
  display: none;
}
.chk_inp input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: middle;
}
.chk_inp input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 22px; height: 22px;
  padding: 3px;
  border: 1px solid #e1e1e1; border-radius: 3px;
  box-sizing: border-box;
  line-height: 11px;
  background: #fff;
  vertical-align: middle;
}
.chk_inp input[type="checkbox"]:checked + label:before {
  content: '';
  background: url(../images/common/ico-check.png) no-repeat 0 0;
  border: 0;
}

/* select */
select {
  width: 100%; height: 44px;
  padding: 0 20px;
  color: #666;
  font-family: 'notokr';
  font-size: 14px;
  line-height: 44px;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  box-sizing: border-box;
  background: url(../images/common/arr-bottom.png) no-repeat 96% 50%;
}
select::-ms-expand {
  display: none;
}
select:disabled {
  background-color: #f9f9f9;
}

/* datepicker */
.input_date {
  padding-right: 44px;
  background: #fff url(../images/common/ico-calender.png) no-repeat 100% center;
}

/* textarea */
textarea {
  width: 100%; height: 120px;
  padding: 20px;
  background: #fff;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #666;
  box-sizing: border-box;
  resize: vertical;
  font-family: 'notokr';
}
textarea.textarea_midium {
  height: 100px;
  padding: 15px;
}
textarea::placeholder {
  color: #999;
}
/* button */
button {
  border: 0;
  padding: 0;
  cursor: pointer;
}
.btn {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}
.btn_delete.hide {
  display: none;
}
.btn span {
  font-size: 14px;
  font-weight: 500;
}
.input_with_btn + .btn {
  width: 21.8%;
  margin-left: 1%;
}
.btn_wrap {
  overflow: hidden;
  text-align: center;
  margin-top:30px;
}
.btn_wrap .btn {
  width:150px;
  height: 50px;
  line-height: 50px;
}
.btn_wrap .btn span {
  font-size: 15px;
  font-weight: 700;
}
.btn_wrap.col2 .btn {
  float: left;
  width: calc(50% - 2.5px);
}
.btn_wrap.col2 .btn:first-child {
  margin-right: 5px;
}
.btn_wrap .btn_more {
  color: #222;
  font-weight: 500;
  display: inline-block;
  line-height: 50px;
  background-color: #fff;
  border: 1px solid #999;
  width: 150px;
  text-align: center;
}

/* button color */
.point_gray {
  background: #999;
}
.point_dgray {
  background: #666;
}
.point_green {
  background: #36ae53;
}
.point_white {
  background: #fff;
  color: #222;
  border: 1px solid #999;
}
.btn.type_01 {
  background: #666;
}
.btn.type_02 {
  background: #fff;
  color: #222;
  border: 1px solid #999;
}

/* font style */
.txt_green {
  color:#36ae53;
}

.txt_red {
  color:#ff3d00;
}

.txt_gray {
  color:#666;
}

/* popup */
.popup {
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%);
  background-color:#fff;
}
.popup.open {
  display:block;
}
.popup .head_pop {
  padding:0 20px;
  height:60px;
  box-sizing:border-box;
  background-color:#004c7a;
  color:#fff;
}

.popup .head_pop:after {
  content:'';
  display:block;
  clear:both;
}

.popup .head_pop span {
  float:left;
  font-size:18px;
  line-height:60px;
}

.popup .head_pop button {
  float:right;
  margin-top:25px;
  width:10px;
  height:10px;
  font-size:0;
  background:url('../images/common/btn_close_pop.png') no-repeat center;
  background-size:10px;
}

.popup .btn_wrap {
  text-align:center;
}

.popup .btn_wrap .btn {
  display:inline-block;
  width:100px;
}


/* tab */
.tab {
  overflow: hidden;
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #d8d8d8;
  font-weight:500;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: #d8d8d8;
  color:#222;
  font-size: 16px;
  line-height: 47px;
  width:50%;
}

.tab button:hover {
  background-color: #fff;
  color:#36ae53;
}

.tab button.active {
  background-color: #fff;
  color:#36ae53;
}

.tabcontent {
  display: none;
  border-top: none;
}
.tab.col3 button {width:33.333%;}



.sort_wrap select.select_sort {
  float:left;
  width:100px;
  background-position: 90% 50%;
  vertical-align: middle;
}

/* sort area */
.sort_wrap {
  margin-top:40px;
}
.sort_wrap:after {
  content:'';
  display:block;
  clear:both;
}
.align_left {
  float:left;
  margin-top:11px;
}
.align_left li {
  float:left;
  position:relative;
  padding:0 10px;
}
.align_left li:before {
  content:'';
  position:absolute;
  top:50%;
  right:0;
  margin-top:-6px;
  width:1px;
  height:12px;
  background-color:#d4d4d4;
}
.align_left li:last-child:before {
  display:none;
}
.align_left li:first-child {
  padding-left:0;
}
.align_left li:last-child {
  padding-right:0;
}
.tab_active a {
  color:#36ae53;
}

.align_right {
  float:right;
}

.sort_wrap select.select_sort {
  float:left;
  width:100px;
  background-position: 90% 50%;
  vertical-align: middle;
}

.sort_wrap .input_search {
  float:left;
  margin-left:5px;
}

.sort_wrap input.input_sort {  
  float:left;
  width: calc(100% - 44px);
  vertical-align: middle;
}

.sort_wrap .btn_search {
  float:left;
  width:44px;
  height:44px;
  color:transparent;
  background:#666 url('../images/common/btn_search.png') no-repeat center;
  background-size:16px;
  vertical-align: middle;
}

/* layer popup */
.layer_popup {
  display: none;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  line-height: normal;
  z-index: 99;
}
.layer_popup .dim {
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, .7);
}
.layer_popup .popup_box {
  position: absolute;
  left: 50%; top: 50%;
  width: 370px; min-height: 170px;
  transform: translate(-50%, -50%);
  text-align: left;
}
.layer_popup .popup_box .title_popup {
  padding: 19px 5.4%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #004c7a;
  box-sizing: border-box;
}
.layer_popup .popup_box .close_popup {
  position: absolute;
  right: 5.4%; top: 18px;
  width: 20px; height: 20px;
  background: url(../images/common/btn_close_pop.png) no-repeat center;
}
.layer_popup .popup_box .content_popup {
  padding: 40px 8% 30px;
  background: #fff;
  box-sizing: border-box;
}
.layer_popup.open {
  display: block;
}
.layer_popup dl {
    font-size:16px;
    text-align: center;
}
.layer_popup dl dt {
    font-weight: 700;
    color:#000;
}

.layer_popup.attach .popup_box{width:550px;}
.layer_popup.attach img {max-width:100%;}

.layer_popup.layer_preview .popup_box {
  width: 550px;
}
.layer_popup.layer_preview .content_popup img {
  max-width: 100%;
}
/* table */
.table_wrap {
  margin-top:12px;
}

.table_wrap table {
  width:100%;
}

.table_wrap table thead {
  background-color:#eee;
  border:1px solid #e1e1e1;
}

.table_wrap table th {
  position:relative;
  padding:10px;
  font-weight:500;
  box-sizing:border-box;
  vertical-align: middle;
  border-left:1px solid #e1e1e1;
}


.table_wrap table th:first-child {
  border-left:0;
}
.table_wrap table th[colspan] {
  border-bottom:1px solid #e1e1e1;
}

.table_wrap table tr > td {
  box-sizing:border-box;
  height:55px;
  vertical-align: middle;
  border-bottom:1px solid #e1e1e1;
  text-align:center;
  color:#666;
}
.table_wrap .con_box h3 {
  margin-bottom:30px;
  padding-bottom:10px;
  border-bottom:2px solid #222;
  font-size:18px;
  font-weight:500;
}
.table_wrap.type_1 {width:505px;margin:0 auto;}
.table_wrap.type_1 table th:before {display:none;}
.table_wrap.type_1 table th,
.table_wrap.type_1 table td {border-left:1px solid #e1e1e1;}
.table_wrap.type_1 table th:last-child,
.table_wrap.type_1 table td:last-child {border-right:1px solid #e1e1e1;}
/* view */
.tbl_view {
  width: 505px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.tbl_view .con_box {
  margin-top: 40px;
}
.tbl_view .con_box h3 {
  margin-bottom:30px;
  padding-bottom:10px;
  border-bottom:2px solid #222;
  font-size:18px;
  font-weight:500;
}
.tbl_view .con_box table {
  width:100%;
}
.tbl_view .con_box tbody tr:first-child th,
.tbl_view .con_box tbody tr:first-child td {
  border-top:1px solid #e1e1e1;
}
.tbl_view .con_box th,
.tbl_view .con_box td {
  padding: 18px 4% 17px;
  border-right:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  text-align:left;
  vertical-align: middle;
}
.tbl_view .con_box th {
  width:31%;
  background-color:#eee;
  border-left:1px solid #e1e1e1;
  font-weight:500;
}
.tbl_view .con_box td {
  color:#666;
}
.tbl_view .con_box .last_txt td {
  line-height: 1.6;
}
.tbl_view .btn_wrap {
  margin-top: 40px;
}
